[2015-02-25 04:33] mybigman opened #1 "Specified role id does not exists"
Hi,

Decide to give you package a run as it seems to fit the bill :)

[code]

The assignRole fails with...

[code]

Any ideas @kodeine ?

Thanks.

[2015-02-25 04:56] mybigman commented on #1
Too add...

Having a quick debug...

[code]
This returns null since there is nothing in the role_user table.

[2015-02-25 15:28] kodeine commented on #1
@mybigman, i tried your code at my system and it works like a charm. The InvalidArgumentException you're getting is because administrator role was not found in sql. So maybe check if role was created successfully and shows in db. let me know how it goes.

[2015-02-25 15:49] rzimin opened #2 "Question: Entrust"
Greetings,

Just wonder. Reading the specs for Entrust and for me as a beginner it actually looks quite similar with laravel-acl. I also saw your comments on "If package is still alive" issue for Entrust. so it seems you just wanted to create something for yourself instead of waiting for compatibility with L5 :+1:

I mean I just try to find what is different and what are the killer features for la

[2015-02-25 15:58] Webcris commented on #1
Hi,

I have the same problem... but I find the issue
On HasRole.php:
On first "if" the $find->getKey(); return the key value 1, but you then init $role = $find->getKey() and it's not ok for the rest of "ifs". You must use $role_key or something like this to return.

if ( is_string($role) ) {
            $model = new \Kodeine\Acl\Models\Eloquent\Role;
            $find = $model->whereSlug($role)->f

[2015-02-25 19:07] kodeine commented on #1
@mybigman @Webcris
i think i know where the problem is, ill commit a fix in few hours.

[2015-02-25 19:27] luisvbz opened #3 "Specified role id does not exists"
Specified role id does not exists

Thank you for you help.

[2015-02-25 19:48] MarcoROG opened #4 "[Suggestion]Soft deletes on pivot tables"
First of all thanks for this awesome repo.
I'd like to use this system to create a webapp dedicated to the management of a school.
The key is that many users will have temporary roles, and i should be able to keep track of them.

To do so, the most logic way is to introduce soft deletes on the pivot tables users_roles and user_permissions, so that, by using created_at and deleted_at you can detect

[2015-02-25 19:49] kodeine commented on #3
@luisvbz please post code so I can take a look.

[2015-02-25 19:51] luisvbz commented on #3
The above error was my fault , just presenting me this error " Specified role id does not exists " thanks for replying

[2015-02-25 20:05] kodeine commented on #3
@luisvbz np, I will push commit in like 30 minutes. On my way to home :)

[2015-02-25 20:09] kodeine commented on #4
@MarcoROG alright, ill work on that too. If that's an urgent require you can extend the models and use soft deletes.

[2015-02-25 20:20] MarcoROG commented on #4
I have a very long deadline so no hurry.
I think it'd be a good addition tho, so you can keep track of roles assignment
Thanks for all you're doing

[2015-02-25 20:32] kodeine commented on #4
@MarcoROG no problem bud.

[2015-02-25 20:48] mikhi commented on #3
Hi kodeine.

I have the issue. The error looks like this:
InvalidArgumentException in HasRole.php line 158:
Specified role id does not exists.

Here is the code:
$user->syncRoles('administrator'); or $user->assignRole([1,2,3]);

[2015-02-25 21:51] kodeine commented on #1
@mybigman @Webcris Please run composer update and test again, i've pushed some updates. Let me know if this works.

[2015-02-25 21:51] kodeine commented on #3
@mikhi @luisvbz Please run composer update and test again, i've pushed some updates.

[2015-02-25 22:05] mybigman opened #5 "How to validate multiple roles using and/or operators"
Hi,

Can I do this...

[code]

So if the user is an 'admin' OR 'moderator' they can access...

and also...

[code]

So if the user is a 'moderator' AND 'editor' they can access...

[2015-02-25 22:07] mikhi commented on #3
Now it working.
Thank you for you help!

[2015-02-26 00:14] kodeine commented on #3
@mikhi great.

[2015-02-26 00:14] #3 closed

[2015-02-26 00:30] kodeine commented on #5
@mybigman, yes you can do `'is' => 'admin|mod'` where `admin` and `mod` are Roles.
for permissions, you need to use `'can' => 'editor.mod'` where `editor` is a permission and `mod` is an alias. basically we bind multiple permissions to an alias.

to create new permission `editor.mod`, you would have to do
[code]

Lets assign the newly created permission to `mod` role.

[code]

Now you can validate

[2015-02-26 01:20] kodeine commented on #2
hello @rzimin,

I had used entrust and sentry in the past but was not quite happy. Guess i needed something more friendly while keeping things elegant. Laravel-acl uses Roles based permissions and permissions are based on Aliases. Aliases are a set of permissions. For example, lets assume we have a `User` role. For permissions we can create an Alias, as User. That alias has all the permissions nee

[2015-02-26 01:42] #1 closed

[2015-02-26 03:17] mybigman commented on #1
testing if it reopens...

[2015-02-26 03:31] mybigman commented on #1
@kodeine

Can you please reopen this as its fixed but not fixed as a new problem is introduced :)

HasRole.php line 139
[code]
You are limiting to alpha only which causes another problem...

I have many modules so i define my slugs like so...

[code]

Since it has a dot character is fails.

how about something like...

[code]

that should solve the problem.

Thanks

[2015-02-26 03:35] kodeine commented on #1
@mybigman on it now.

[2015-02-26 03:43] mybigman commented on #5
@kodeine you champ :)

[2015-02-26 03:48] kodeine commented on #1
@mybigman try it now :) just pushed a fix.

[2015-02-26 03:52] kodeine commented on #5
@mybigman should we have a different symbol for AND operator instead of a dot.
Dot might confuse people with permission aliases.

[2015-02-26 04:51] mybigman commented on #1
perfect... thanks mate :)

[2015-02-26 04:54] mybigman commented on #5
@kodeine sounds great.

[2015-02-26 05:13] mybigman opened #6 "User Model Primary Key"
Hi,

Having trouble with user model havent a different primary key.

[code]

[code]

[code]

How to get around this?

Thanks

[2015-02-26 06:09] mybigman commented on #6
nevermind... my dumb mistake assigning via a test user model and reading via the real user model SIGH!

[2015-02-26 06:09] #6 closed

[2015-02-26 07:12] rzimin commented on #2
Thanks for detailed answer. Would definitely give it a try!

[2015-02-26 07:12] #2 closed

[2015-02-26 09:48] mybigman opened #7 "Middleware constructor"
Hi,

Not sure if this possible or not or im going about this the wrong way.

[code]

It never sees the "is"

Thanks

[2015-02-26 16:35] kodeine commented on #7
I tried to find a way to do this but no luck, array is not passed to middleware, any thoughts?

[2015-02-26 21:36] mybigman commented on #7
@kodeine I had a bit of a look last night doesnt seem possible without changing the core...

I might have another look.

Thanks.

[2015-02-28 21:52] kbhatt2006 opened #8 "Advice for creating role class"
Hi

excuse for my ignorance, but how shall I create role ? do i have to create app/role.php like this..

[code]

How do I check that roles and permissions are created ?

and simliarly must I create app/permission.php ?

I already have one user and which can login with default auth...
How should I pass role and permission as admin to this existing user?

advice pls :)
Thank you

[2015-02-28 23:19] kodeine commented on #8
@kbhatt2006, If you want to allow admin to create roles from panel, you should make a controller and in that you should call the role creation you mentioned. Otherwise just seed your database with few roles and permissions you need. you can validate roles for existing role using this ... Auth::user()->can('permission') or Auth::user()->is('role')

[2015-03-01 22:09] mikhi opened #9 "Advise for validating permission"
Hi Kodeine,
i can't figure out witch is the best way to validate user permission. All my controllers will extends an base controller, where i want to check if user has permission to access the specific methods...
Here is my code:
...
class BaseController extends Controller {

    protected $user;

    public function __construct(Route $route){

        //set middlewares
        $this->middleware('

[2015-03-02 00:13] kodeine commented on #9
@mikhi,
i guess you are trying to protect routes. You dont have to do that since its already done in ACL.
refer to [protect routes wiki](https://github.com/kodeine/laravel-acl/wiki/Protect-Routes)

[2015-03-02 11:07] rzimin commented on #8
@kbhatt2006 You can also do this by using tinker, so to avoid creating new files.
`php artisan tinker`

[2015-03-02 19:01] mikhi commented on #9
ok, thanks for advise.

[2015-03-02 19:45] kodeine commented on #9
@mikhi let me know if there is anything we can help with :)

[2015-03-02 19:45] #9 closed

[2015-03-04 02:50] kbhatt2006 commented on #8
@kodeine Thanks, then I must create CRUDcontroller mentioning all roles and permissions , which can be synced(edit,delete,create user..etc) with migrated database. Correct me if this not viable.

[2015-03-04 06:08] kodeine commented on #8
Sure you can make a single controller or maybe make a seed file, because roles and permissions will be added once and they will be used again n again. So either way you're good.

[2015-03-04 07:05] #8 closed

[2015-03-05 00:58] #7 closed

[2015-03-07 05:31] kodeine commented on #5
@mybigman, please try the dev branch. It supports operators in is() and can() methods. Once you give me a go, ill merge it to master.

[2015-03-09 14:39] kodeine commented on #5
Merged to master.

[2015-03-09 14:39] #5 closed

[2015-03-11 16:12] ssssteve opened #12 "Question: Permission inheritance?"
Hi Kodeine,

I'm trying to get a handle on this as a Laravel 5 replacement for Entrust. The route protection seems especially useful, and your presence here suggests that this might be a lot better maintained than Entrust seems to be. :thumbsup:

However, I'm not sure if either my scenario or my understanding fits the correct workflow here, as I can't see any form of permission inheritance.

I hav

[2015-03-11 16:32] kodeine commented on #12
Hello @ssssteve,
You can use @if (Auth::user()->can('view.client'));

When you create permissions for client.as.admin just add another param, inherit_id = id of 'client' permission. So view.client.admin will be now be known as view.client since your user will have role of client.as.admin and links to client permission. We start recognizing user as client (inherited permission) and forget client.as

[2015-03-12 03:49] kodeine commented on #12
@ssssteve, Let the example code speak for a better picture.

First we create Roles.
[code]

Now lets create Permissions for Teacher and Student.

[code]

we can can forget about `internships.student` because now we recognize it as `internships`.
so getPermissions will return array('internships' => [...permissions merged with internships.student...])

Lets assign those permissions to newly created

[2015-03-12 10:58] ssssteve commented on #12
Hi @kodeine, thanks very much for your extremely rapid response. That sounds just right, and having just modified my Permissions seeder it seems to work really well.

Just as an added example, I'll mention that I'm doing it slightly differently to your example, which might be somewhat safer. I've set up a top level Permission but set all the permissions to `false`:
[code]
I can then set specific p

[2015-03-12 10:58] #12 closed

[2015-03-12 13:04] kodeine commented on #12
@ssssteve, you're welcome :)

[2015-03-12 14:33] subdesign opened #13 "Multiple groups in routes"
How to add multiple groups like I do in Sentry with filters?

Sentry:
[code]
so this works?
[code]
thanks

[2015-03-12 16:55] kodeine commented on #13
@subdesign, Yes are right, you can use `is` and `can` params. But notice the use of comma, it will be referred as `user` is admin `and` editor. If you use pipe |, it will be referred as `user` is admin `or` editor. Same goes with `can` method.

[2015-03-12 17:45] nglelinh opened #15 "assignPermission with object argument"
Following the wiki instruction:

$roleAdmin = Role::first(); // administrator
$roleAdmin->assignPermission($permUser);

I got

InvalidArgumentException in HasPermission.php line 157:
Specified permission name does not exists.

Function assignPermission works well when assign by id or name

[2015-03-12 17:50] kodeine commented on #15
@nglelinh, please write more source so i can run it here and try easily.

[2015-03-12 19:03] #15 closed

[2015-03-13 13:48] #13 closed

[2015-03-13 18:01] nglelinh opened #16 "Wrong permission for user without role"
Get a user without any role, for example

$testUser = User::find(4);

add permission to him

$testUser->addPermission('create.user');

$testUser->can('create.user') returns false

But if I assign him to any role, even which this roles doesnt relate to that permission, I get right answer.

Please check.

[2015-03-13 18:27] nglelinh opened #17 "About get user permissions"
In Wiki i found the following rules about user permissions

1) getPermissions : Get permissions assigned to a user, all user permissions along with its role permissions.
2) user permissions override role ones.

But I dont get them as result. Please refer this image

http://snag.gy/Eyc6Y.jpg

Please check.

[2015-03-13 19:07] kodeine commented on #17
@nglelinh, please write me the code to test.

[2015-03-13 19:20] kodeine commented on #17
@nglelinh, by looking at the screenshot, it seems like your role permissions are not ending with .post but your user permissions are ending with .post. Make sure your role has a permission xxx.post and if user has same *.post it will override. If you give me your code i can help more easily.

[2015-03-14 01:48] nglelinh commented on #17
@kodeine: I have just retested on a fresh new db.

Create new objects:
               $testUser = User::create([
			'name' => 'tester',
			'email' => 'test@mail.com',
			'password' =>'$2y$10$5QYFCfkd5lSOxX20i0w2p.hwSupOP.YcJxRRoL8073FzXQXADTDZy']
		);
		$testRole = Role::create([
			'name' => 'newRole',
			'slug' => 'newrole',
			'description'=>'a new test role'
		]);
		$permHouse = Permission::cr

[2015-03-14 15:21] int-m opened #19 "Class 'Role' not found in eval()'d code on line 1"
Hello,

i think i make an failure on installation.

on php artisan tinker i try do add a role but get the following error.

PHP Fatal error:  Class 'Role' not found in eval()'d code on line 1

Please help me. I am very new on laravel.

[2015-03-14 15:28] kodeine commented on #19
@int-m, you need to use name space.
[code]

[2015-03-14 15:30] int-m commented on #19
Thank you so much.

[2015-03-14 15:30] #19 closed

[2015-03-14 17:14] int-m opened #20 "$role->getUsers();"
Hello,

is the an function to get all Users where have the role like

$role->getUsers();

Thanks.

[2015-03-14 18:50] kodeine commented on #20
@int-m, I will add this feature asap.

[2015-03-16 07:27] Mythos opened #21 "Assing specific permissions to roles"
Hi, is it possible to assign only specific permissions to roles?

According to the wiki it's possible to do this by following line:

[code]

But in my case I want my roles to only have something like this:
[code]

So is this possible with the code above or is it a feature that has to be implemented?

Regards,
Stefan

[2015-03-16 15:15] kodeine commented on #16
@nglelinh, please try again, i've pushed fixes.

[2015-03-16 15:16] kodeine commented on #17
@nglelinh, My last commit should fix this issue, please try again and confirm.

[2015-03-16 15:20] kodeine commented on #21
@Mythos, its not a good idea to split user permissions into different roles. Better make a role user and then assign permissions to it.

Or if i am seeing this right, you are trying to split admin and moderator permissions. For this you can use permission inheriting.

Please look at this [wiki](https://github.com/kodeine/laravel-acl/wiki/Permissions-Inheritance)

If you need help with example code

[2015-03-16 15:51] nglelinh commented on #16
It works well now. Thank you.

[2015-03-16 15:51] #16 closed

[2015-03-16 16:10] nglelinh commented on #17
The second part has been fixed. Permission by user overwrites permission by role.

But the first part still hasn't. Expect result for : $testUser->getPermissions()
{
create: false,
view: true,
update: true,
delete: true
}

Btw, I can not remove user permission now by executing: $testUser->removePermission('create.house').

Please check again. Thank you

[2015-03-16 16:50] Mythos commented on #21
I think permission inheritance will fix my problem, thanks.

[2015-03-16 16:54] kodeine commented on #17
@nglelinh I didn't get what's not working other than remove permission

[2015-03-16 17:01] nglelinh commented on #17
@Kodeine: As I understand, user permissions (result of $user->getPermissions()) are combination of permissions by role and permission by user.
In this example, $testUser has permission from role
{
create: true,
view: true,
update: true,
delete: true
}
and his own permission
{
create: false
}
so the result should be as I mentioned above. Please correct if I am wrong.

[2015-03-16 17:20] Mythos commented on #21
Now I have a problem creating my "parent" permission because of the new foreign key for `inherit_id` added 2 days ago.

[code]

[2015-03-17 04:40] kodeine commented on #17
@nglelinh, somehow my latest commit was not pushed, i have pushed it now and confirmed. Please check at your end. Thanks

[2015-03-17 08:41] limweb opened #23 "FatalErrorException in HasPermissionInheritance.php line 57:"
FatalErrorException in HasPermissionInheritance.php line 57:
Call to a member function getKey() on a non-object
in HasPermissionInheritance.php line 57

[2015-03-17 08:43] limweb commented on #23
// ---- get user by id
public function getUserbyid($id){
	$u = User::find($id);
		$u->getPermissions();
		$u->getRoles();
	dump($u);
}

Error at call this function

Thanks.

[2015-03-17 09:01] limweb commented on #23
in   line 21
foreach ($inherits as $name => $inherit_id) {
 if ( is_null($inherit_id)  ) continue;
   I'm change to
   if ( is_null($inherit_id) || empty($inherit_id) ) continue;

in database   field is int   can't be null  is  will fill   zero 0

[2015-03-17 15:28] Mythos commented on #23
Is your column nullable? If not you have to alter it to be nullable as this has been changed in 4f6ffd453a2d4dbcc9de9febd05476aa0d92de39 due to #21

[2015-03-17 15:35] subdesign opened #24 "Integrity constraint violation"
When I try to run the first example in Create Permissions part, I get the following error:
[code]
I've migrated all tables of course.

Code is:
[code]

[2015-03-17 16:07] kodeine commented on #24
@subdesign, are you using the latest commit? This was fixed in last updated.

[2015-03-17 16:16] kodeine commented on #23
@Mythos @limweb So FatalErrorException is fixed because of 4f6ffd453a2d4dbcc9de9febd05476aa0d92de39 right? Here i dont see that exception.

[2015-03-17 16:20] subdesign commented on #24
Updated, but have the same error.
[code]

[2015-03-17 16:22] kodeine commented on #24
@subdesign, Okay, it has new migration field, `inherit_id` please update `permissions`.`inherit_id` as nullable.

[2015-03-17 17:11] nglelinh commented on #17
@kodeine: The combination roles is ok now. But still can not remove user's permission by executing
$testUser->removePermission('create.house')

[2015-03-18 03:13] limweb commented on #23
thanks.

[2015-03-18 07:44] subdesign commented on #24
Working now, thanks

[2015-03-18 07:44] #24 closed

[2015-03-18 12:06] subdesign opened #25 "Suggestion with getPermissions()"
Imagine the following in the admin area. I want to edit a role's permissions, and when I use getPermission() helper function, I get all the permissions listed in arrays (rendered to list items here):
[code]
as you see, because the function doesn't tell me what is the permission name, only the slugs are visible, how to decide to change for example the article's __create__ permission to 0, and not t

[2015-03-18 12:26] kodeine commented on #25
@subdesign, it's suppose to work like you mentioned, let me take a look in an hour

[2015-03-18 14:57] subdesign commented on #25
Sorry my fault. Somehow my foreach loops hide the keys... :/

[2015-03-18 14:57] #25 closed

[2015-03-18 16:33] Mythos commented on #23
@limweb
Has this fixed your problem?

[2015-03-18 16:51] ssssteve opened #26 "Question: Protect Methods"
Hi @kodeine,

Is there a way to globally change the Protect Methods, or do we have to feed a modified array in via each route?

Your Protect Methods are currently set up as

[code]

However, these mean that users who are denied the permission to `store` and `update` can still access the _Create New Resource_ and _Update Resource_ pages, as their permissions for `create` and `edit` routes are bundl

[2015-03-18 17:05] kodeine commented on #26
@ssssteve, I'll push updates in an hour :)

[2015-03-18 21:59] kodeine commented on #26
@ssssteve, please try now, you can use config now.
[code]

if config does not have crud.resource it will use the defaults. (i updated the defaults too).

[2015-03-18 22:03] kodeine commented on #17
@nglelinh, please try now, it should be fixed.

[2015-03-18 22:06] kodeine commented on #23
@Mythos @limweb

This should be fixed now as i pushed it with `is_null($inherit_id) || empty($inherit_id)` this way for other people their apps wont break by not having nullable() in their inherit_id field.

[2015-03-19 04:45] kodeine commented on #21
@Mythos, please try the dev-dev branch, i have updated the permission inheritance. You can use inherit_id if you want to but if not, permission names must be common and they will be inherited. Secondly, you can set the `NTFS right`(more permissive wins) in config.

[2015-03-19 08:03] Mythos commented on #21
@kodeine
I'll reopen this issue for now.
I'll test your changes in the dev-branch tonight.
But what does NTFS mean? You mean the filesystem? And what do these changes exactly?

[2015-03-19 08:39] ssssteve commented on #26
Yup, that's fixed it nicely. :thumbsup: Thanks for the speedy update @kodeine! :star::star::star::star::star:

[2015-03-19 08:39] #26 closed

[2015-03-19 14:41] kodeine commented on #26
You're welcome :)

[2015-03-19 14:43] kodeine commented on #21
@Mythos
NTFS right, the more permissive wins
If you have multiple permission aliases assigned, each alias
has a common permission, view.house => false, but one alias
has it set to true. If ntfs right is enabled, true value
wins the race, ie the more permissive wins.

[2015-03-19 17:36] Mythos commented on #21
@kodeine
So if i want for example this:
[code]

What do I have to do exactly?
Also please note that I want to edit roles and permissions via an ACP so the permissions assigned to a role will change. I want to manage roles (create, edit, delete) and assign/remove permissions to them.

[2015-03-19 21:55] kodeine commented on #21
[code]

So if user has a role of `user`, he will be able to `view` , and `view_phone`. Notice the `view_phone` being inherited from `Administrator` role. Similarly if user has a `Moderator` role, he will be able to `edit view and view_phone`.

[2015-03-20 07:39] Mythos commented on #21
@kodeine
Ok that's exactly what I want.
But how do I create a role/permission management?
My plan is to have a menu item for Roles, where I can create/edit/delete them. In the view/edit view I would have checkboxes for assigning and removing permissions for that role.

If I have e.g. a User role with permissions inheriting from my Administrator role, will I have all permissions (including the inhe

[2015-03-20 14:46] mbalcaen opened #28 "Create Permissions"
Hello,

When I want to create a new permission with the example in the wiki, I'm getting this error:
ErrorException in helpers.php line 686:
preg_replace(): Parameter mismatch, pattern is a string while replacement is an array.

Is this my mistake or an issue in the code?

Thanks!

Example:
$permission = new Permission();
$permUser = $permission->create([
    'name'        => 'user',
    'slug'

[2015-03-20 16:28] nglelinh commented on #17
@kodeine: thank you. It works well now.

[2015-03-20 16:28] #17 closed

[2015-03-21 02:48] kodeine commented on #28
Hello @mbalcaen, i was able to run the same example you gave and it works well, no errors. Kindly look at your other code. Or paste whole file.

Thank you

[2015-03-21 02:49] #23 closed

[2015-03-22 00:27] kodeine commented on #21
@Mythos
I guess there are two ways which we can do this.

1. make a new function getRawPermissions() which will return permissions without inheriting but with the permission ids etc.
2. getPermissions() returns without inheriting, getPermissions($inherit = true) will return inherited like it does now.

What you think?

[2015-03-22 06:35] Mythos commented on #21
@kodeine
I think option 2 would be fine as you don't have to create a new function to remember, just a parameter. ;-)

[2015-03-22 10:40] mbalcaen commented on #28
Very strange...
![schermafbeelding 2015-03-22 om 11 39 30](https://cloud.githubusercontent.com/assets/1210283/6768995/29762a6a-d088-11e4-95d3-d04ec2995776.png)
![schermafbeelding 2015-03-22 om 11 40 11](https://cloud.githubusercontent.com/assets/1210283/6768998/445774a6-d088-11e4-9cf4-cb7171cf8262.png)

[2015-03-22 16:00] kodeine commented on #28
@mbalcaen
Looks like you are using your own permission model. Have you extended your model with laravel-acls and redefined in acl config?

Else you need to use like
[code]

[2015-03-23 17:18] kodeine commented on #21
@Mythos
I have added a new function, `getPermissionsRaw()`, tell me if that works for you.
(dev branch).

[2015-03-24 05:38] mybigman opened #29 "Middleware Parameters"
Hi Kodeine,

I came up with https://laracasts.com/discuss/channels/general-discussion/middleware-parameters-indirectly today...

There might be away of integrating this into your package... If I get time I shall have a look or you can :)

Thanks.

PS Keep up the awesome work mate.

[2015-03-24 15:02] kodeine commented on #29
@mybigman,
Sure, let me know what you come up with and ill do the same.

[2015-03-24 15:10] kodeine commented on #21
@Mythos
Or you can try
[code]

[2015-03-24 17:29] mbalcaen commented on #28
Problem solved, I forgot to change the config file. Sorry!!

Do you guys have some suggestions for building a page to set permissions for a certain role?
I want to build something like the permissions page in Drupal. Now I'm struggling to create a permission from checkboxes. Tnx!

[2015-03-24 17:45] kodeine commented on #28
@Mythos, is working on that i guess, you can ask him for help once he's done.

[2015-03-25 19:10] MarcoROG opened #30 "Can't understand how to use protect_methods"
Hello, i have a really stupid question, but i can't understand how this works
I have seen you can protect methods based on permission in this way:
['protect_alias'  => 'user',
'protect_methods' => [
        'create' => ['someMethod', 'anotherMethod'],
        'read'   => ['readMethod', 'showMethod'],
        'view'   => ['readMethod', 'showMethod'], // its same as read.
        'update' => ['editM

[2015-03-25 19:51] kodeine commented on #30
@MarcoROG,
There is no such thing as a stupid question.
`protect_methods` param is to be used in your routes. Does your controller use method names like create, store, show ... ?
If so then you dont need to use `protect_methods` param. You can simply use `'protect_alias' => 'user'` and your route will be protected by permissions *.user.

[2015-03-25 19:54] MarcoROG commented on #30
Oh i see, so it is meant to be used on a route group for example.
If for example i want a more "granular" control over permissions i can still put a 'can' tag on each route right? Or this isn't a best practise?

[2015-03-25 20:13] kodeine commented on #30
If for example you have a permission, `view.dashboard` you can use `can('view.dashboard)'` and then in protect_alias u can check for crud permission of *.user

[2015-03-25 20:17] MarcoROG commented on #30
Oh i see, thanks a lot!

[2015-03-28 01:16] #30 closed

[2015-03-28 04:48] kodeine commented on #20
@int-m
I've pushed the update.

[code]

will list all users having admin role.

[2015-03-28 08:35] MarcoROG opened #31 "[Possible bug] Problem with multiple roles"
#Problem
I have just noticed something that doesn't look quite right to me, i have the following situation:
An user has two roles: student and secretary both have a different kind of permission regarding users obtained via permission inheritance:
[code]
Since the user has both roles, it has both the permission users and users.secretary.
The problem is that when i call can('edit.users') it returns

[2015-03-28 15:13] kodeine commented on #31
@MarcoROG
can you try dev-dev branch, it should be solved in that since dev branch uses ntfs (more permissive permission wins). please try that and let me know if that works.

[2015-03-28 15:18] MarcoROG commented on #31
The foreach in the getPermissions method is still using the same array_replace_recursive method, so i think the outcome will be the same, let me try and i'll tell you

[2015-03-28 15:42] kodeine commented on #31
@MarcoROG

This is what i get when i do `getPermissions();`

[code]

Following were the `permissions` i used and both attached to a role `admin`.

[code]

[2015-03-28 15:44] MarcoROG commented on #31
Well the problem is that you attached both of them to the role 'admin', try attaching them to two different roles, and assign those two roles to the same users, and you'll see the problem

[2015-03-28 15:46] kodeine commented on #31
@MarcoROG
Got it... will review and push updates asap. :+1:

[2015-03-28 15:47] MarcoROG commented on #31
okok thanks a lot again for all your hard work!

[2015-03-28 16:43] kodeine commented on #31
@MarcoROG
please try the dev branch.

[2015-03-28 17:14] MarcoROG commented on #31
okok it seems to work fine now

[2015-03-28 17:18] kodeine commented on #31
@MarcoROG, lovely, sorry i couldnt use your PR since it had syntax error. Should i merge it with master? or should we wait few days until we found some more bugs? :D

[2015-03-28 17:36] MarcoROG commented on #31
I'd wait a couple of days to see if someone finds some kind of bug.
No problem for the PR, i was writing it with my mobile phone in class so i made a lot of errors, the important thing is that you got what i meant and now it works

[2015-03-28 19:26] #31 closed

[2015-03-29 12:11] MarcoROG commented on #4
I Was thinking about adding implementing it this way:
-daleted_at field in user_roles
-when querying for roles in the many-many relationship, adding a parameter to select withTrashed, onlyTrashed or normal
-when revoking roles, using the soft delete instead of detatch
-Not sure about this: adding an option 'was' which calls a 'was' method that works exactly like 'is' but calling getRoles with only

[2015-03-29 14:29] kodeine commented on #4
@MarcoROG
sounds good man, feel free to send a PR.

[2015-03-29 23:25] #28 closed

[2015-04-01 16:43] nglelinh opened #34 "Permission with empty slug"
1) Get a user
2) Add new permission, e.g. update.user
3) Remove permission update.user

Actual: permission "user" with empty slug
Expect: remove whole permission, as we have for role's permission

[2015-04-01 17:06] kodeine commented on #34
@nglelinh
`$user->removePermission('view.user')` will remove the `view.user` permission.
`$user->removePermission('user')` will remove the whole `user` alias permission.

Is it not like that? Last i checked it was working.

[2015-04-02 02:01] nglelinh commented on #34
@kodeine: yes, it works as you say. But I mean that, after removing last permission in an alias (empty slug), the whole alias should be automatically deleted as well. We have the same behavior with role permissions as well.

[2015-04-02 12:11] MarcoROG opened #35 "Bug with HasPermissionInheritance"
So i have the following situation:
[code]
The problem is that when i call
[code]

I looked into the class HasPermissionInheritance and i think i found the bug in the method
getPermissionsInherited()
In fact you call $rights = array_replace_recursive($inherited, $merge); and since $inherited and $merge are permission-specific, rights gets overriden everytime and we only get the latest set of permis

[2015-04-02 12:32] RomainLanz commented on #35
Close this please.

[2015-04-02 12:37] MarcoROG commented on #35
why?

[2015-04-02 12:44] RomainLanz commented on #35
You made a PR, we can continue the discussion there.

[2015-04-02 15:02] kodeine commented on #35
@MarcoROG
Can you please paste the whole array what you get and what it should be. i will re run your code here and see as well to match my latest updates.

Thank you.

[2015-04-02 16:09] MarcoROG commented on #35
When i perform $secretary->getPermissions() I expect:
[code]

but i get

[code]

This means it returns only one array, and it is because rights is a global variable and gets rewritten everytime when you assign it the value of array_replace_recursive.

A solution would betransforming it into a local variable into the foreach and merging it every iteration with a global variable(results in the pull

[2015-04-03 04:45] kodeine commented on #35
following up at #36.

[2015-04-03 04:45] #35 closed

[2015-04-07 10:15] Rtransat opened #37 "Use middleware ?"
Hi,

I've some issues with the middleware. You can see my seed:

[code]

[code]

If I'm logged as admin I see with $user->getPermissions():
[code]

And as editor:
[code]

And in my routes.php
[code]

So, as admin it's working great, but as editor, if I try to go in /roles, I'm not authorized to see that page and I don't know what I'm doing wrong.

I would like to check if the user is admin or edit

[2015-04-08 04:16] kodeine commented on #37
@Rtransat
i will try this at my machine and get back to you.

[2015-04-08 07:15] kodeine commented on #37
@Rtransat
Are you using master branch or dev-dev?

[2015-04-08 10:20] Rtransat commented on #37
I'm using dev-master in my composer.json but I have the master I think because in the config/acl.php I can't see the ntfs key.

[2015-04-08 12:43] Rtransat commented on #37
Now, if I ```dump($this->auth->user()->getPermissions());``` as admin and editor I have:

[code]

create should be false for editor. And of course as admin or editor /roles, /roles/create working for both.

[2015-04-08 18:27] kodeine commented on #37
@Rtransat
I tried the same code you pasted here at my machine and it seems to work fine as it should.

by simply using `'can' => 'create.role',` on a `route::resource()` (like you did) will check for permission `create.role` no matter what resource url it is. so editor has permission denied on index because it checks for create.role permission first.

Since you want to protect resource, please try

[2015-04-08 21:41] Rtransat commented on #37
I think I have already try with protect_alias and removing "can" but I'll try tomorrow. Did you see my screen with dev-dev branch the getPermissions methods return true for each crud method, admin and editor. It's weird ?

[2015-04-08 21:50] kodeine commented on #37
@Rtransat
I tried your code on dev-dev and editor had create=false.

[2015-04-09 12:51] Addgod opened #38 "Question not and issue."
This is more a question then a issue.

When implementing the acl. How would you go about managing this. If I make a admin page that manages the permissions. How would the database know witch permissions have been implemented into the routes file, and for that matter in the code?

Also if I make use of Roles in routes, then how are these roles translated into actual permission sets in the database?

[2015-04-09 14:36] Rtransat commented on #37
Still the same problem :/. With phpmyadmin I can see role.editor with create to false but if I debug $this->auth->user()->getPermissions(); admin and editor has the same permissions, true for create, view, update, delete.

And with 'protect_alias' => 'role', same problem again :/. Admin can view /roles but /roles/create it's the 401 error.

[2015-04-09 14:59] Rtransat commented on #38
You looking an panel admin ? Something like that ? https://github.com/Rtransat/laravel-entrust-role-permission-panel#screenshots

[2015-04-09 15:27] kodeine commented on #37
Possible to give me your Skype?
I'll help you out easily.

On Thursday, April 9, 2015, Rtransat <notifications@github.com> wrote:

--
Best Regards,

Ahsen Masood.
Founder President.
SaveLife Foundation.
www.savelife.pk <http://www.savelife.pk/about.php>

[2015-04-09 19:17] kodeine commented on #38
@Rtransat
I assume you're making one using laravel-acl. :+1:

[2015-04-10 04:23] kodeine commented on #4
@MarcoROG hows the progress :)

[2015-04-10 07:18] Addgod commented on #38
It is not so much the actual implementation of the admin panel that is my question, more the usage of it.

Example.
I in the code add a is('moderator') in my routes files. That translates into a new role. In my mind, then this role should automatically be added into a usable role in the database, or in the admin panel, so I can start assigning users to this role.

But as far as I can figure out, w

[2015-04-10 07:32] Rtransat commented on #38
@kodeine Yes ;). But it's more complex than entrust because I need to read slug field for each permissions and display like that:

|        | Admin | Editor | User |
|--------|-------|--------|------|
| **Role**   |       |        |      |
| create |       |        |      |
| view   |       |        |      |
| edit   |       |        |      |
| delete |       |        |      |
| **User**   |

[2015-04-10 07:36] Rtransat commented on #37
@kodeine it seems to work great :)

[2015-04-10 07:41] Rtransat commented on #38
@Addgod If I understand what you want, you need to create an admin to assign permission to role.

roles and permissions resources for example. And with checkboxes (relationships between role and permission) you choose permissions for a role.

I don't know if I understand what you want, sorry for my english :/

[2015-04-10 09:48] Addgod commented on #38
Well what I really want is that the code it self is what generates what permissions and roles are available. So that as much human error is kinda eliminated.

[2015-04-10 13:39] Addgod commented on #38
@kodeine Do you have a live example of how you have implemented this in the backend, because I cannot quite wrap my head around it to be honest.

[2015-04-10 15:22] kodeine commented on #38
@Addgod as far i understood, once you add a role/permission from panel, you need that to reflect in routes file automatically so you dont have to manually edit routes.php right?

@Rtransat yes i would be very interested in integrating your panel into acl but with seperation so if people need it without panel they can still use acl without it :)

[2015-04-10 15:24] #37 closed

[2015-04-10 17:02] MarcoROG commented on #4
hey, can we have a private chat? like skype maybe

[2015-04-10 17:03] kodeine commented on #4
sure, add http://pastebin.com/df0upvkQ

[2015-04-10 18:07] Addgod commented on #38
@kodeine Actually I was thinking the other way around. When ever you use a permission is your routes fie, or in the code directly it would update either the role database, or the permission data base, with that give object.

But in general I am having a hard time wrapping my head around implementing it the way it was ment to be. Like how is the whole permission inherentense thing supposed to be im

[2015-04-13 11:42] Addgod commented on #38
Has anyone actually created an admin panel, that uses this acl implementation?

[2015-04-20 02:05] kbhatt2006 commented on #38
@kodeine I am really happy with what is happening on this repo. I propose admin panel with your laravel-acl implementation  ! since you want seperate admin-panel with acl, lets create new repo !! I am eager to contribute.
cc @Rtransat

[2015-04-20 11:23] Addgod commented on #38
I would love to see an implementation of this in an admin panel somewhere, since I still have not wrapped my head completely around this implementation.

[2015-04-20 17:12] kodeine commented on #38
@Rtransat hows the panel coming along with this acl? Mind sharing the repo so we can jump on what you've done so far?

@kbhatt2006  i will definitely be working on the admin panel of the acl. As soon i get time from other work ill jump onto it.

@Addgod when you code your website/panel you already know your routes, since they don't change on fly and you have to write your routes to make your site

[2015-04-20 19:55] Rtransat commented on #38
@kodeine For now I have no time :(

[2015-04-21 06:39] Addgod commented on #38
@kodeine I agree, that way it should be possible, but where would you actually keep the permissions that it used, would they be hardcoded into a form?

[2015-04-22 12:06] kodeine commented on #38
you can get the permissions from db, all permissions and roles are in db.

[2015-04-22 19:07] RhythmScout opened #40 "Validating Role using operator vs pipe inconsistency"
`Auth::user()->is('manager'); // TRUE`
`Auth::user()->is('admin|manager'); // TRUE`
`Auth::user()->is(['admin','manager'], 'or'); // FALSE`

First 2 cases are correct - The user is assigned the manager role.
Shouldn't the 3rd case be returning TRUE as well?

[2015-04-22 19:28] RhythmScout commented on #40
One additional note... I only have data in users, roles, role_user tables at this point. No entries in permissions, permission_role, or permission_users table yet.

[2015-04-22 19:38] kodeine commented on #40
@RhythmScout
Can you please paste your models, so i can use them locally and see whats going on.

[2015-04-22 19:57] RhythmScout commented on #40
User.php:
`
<?php namespace App\Models;

use Auth;
use Kodeine\Acl\Traits\HasRole;
use Illuminate\Auth\Authenticatable;
use Illuminate\Database\Eloquent\Collection;
use Illuminate\Auth\Passwords\CanResetPassword;
use Illuminate\Contracts\Auth\Authenticatable as AuthenticatableContract;
use Illuminate\Contracts\Auth\CanResetPassword as CanResetPasswordContract;

class User extends BaseModel impleme

[2015-04-22 19:59] RhythmScout commented on #40
BaseModel.php:
`<?php namespace App\Models;

use Illuminate\Database\Eloquent\Model;

abstract class BaseModel extends Model {

    /**
     * Find all entities
     *
     * @param array $with
     *
     * @return Illuminate\Database\Eloquent\Collection
     */
    public function getAll(array $with = [])
    {
        return $this::with($with)->get();
    }
}
`

[2015-04-23 01:37] RhythmScout commented on #40
Could the problem possibly be line 60 of HasRole.php?

```$operator = is_null(null) ? $this->parseOperator($slug) : $operator;```
Should be:
```$operator = is_null($operator) ? $this->parseOperator($slug) : $operator;```

I made this swap and seems to be working properly now...

[2015-04-23 03:27] kodeine commented on #40
@RhythmScout
That was a bug which was fixed in recent commits. Please make sure you are using latest version, run composer update

[2015-04-23 14:37] RhythmScout commented on #40
@kodeine I apologize if I'm doing something wrong here, but I continue to see the `$operator = is_null(null) ?....` code in the master brach:

https://github.com/kodeine/laravel-acl/blob/master/src/Kodeine/Acl/Traits/HasRole.php

I am using "kodeine/laravel-acl": "dev-master" in my composer.json as well.

[2015-04-23 14:47] kodeine commented on #40
@RhythmScout
Hmm, weird that commit wasnt updated. Let me push it now. Thanks for finding it out.

[2015-04-23 15:10] RhythmScout commented on #40
Happy to help....and thanks for a great package.

[2015-04-23 15:10] #40 closed

[2015-04-30 07:52] angelocala94 opened #41 "Permissions based on relationships"
It's possible to have permission based on relationships automatically?
For example, if i have two tables: users and posts.
Can i assign a permission to user A that allow him to see only own posts?
Or i need to do it manually?

[2015-05-08 07:59] billmn opened #43 "Reduce number of query and prevent duplicates"
Hi,
I'm testing your package and I have followed you guide.

In a controller I have used this:
[code]

and I notice that it produce a lot of query which increase according to the number of check I do.
Most of this query are duplicated.

![schermata 2015-05-08 alle 09 48 34](https://cloud.githubusercontent.com/assets/779534/7532560/992f4062-f568-11e4-9edf-a1f676068730.png)

I think it's important t

[2015-05-08 21:11] kodeine commented on #43
@billmn
you can simply use
[code]
where | (pipe) represents the OR operator, if you use ,(comma) it will represent as AND operator.

Let me know if that works, i am still working on its caching system. so hopefully i'll be done soon.

[2015-05-08 22:50] billmn commented on #43
Yep for sure...

My example is only to highlight that if a developer needs to use the "can" method in different parts of an application, the package makes a lot of query.

I think also that is important to prevent any duplicated query.

Thank you for your work

[2015-05-08 22:52] kodeine commented on #43
@billmn, ill be updating it soon with cache capabilities.

[2015-05-08 23:05] billmn commented on #43
Really appreciated, thank you!

[2015-05-08 23:05] #43 closed

[2015-05-09 08:56] mjcombalicer opened #44 "Question"
I'm not sure if I missed this but what does "Prefix" do in protecting routes?

Basically I'm trying to figure out why I'm getting 404 with it and getting the page/authorisation error once that is removed.

Thanks

[2015-05-10 11:03] s4m4n opened #45 "Question - Working with multiauth"
Hello,

Is Laravel-acl workable with multi-authorization (auth with multiple table) solutions such as below?

[2015-05-10 14:28] kodeine commented on #45
@s4m4n  If you can provide example of your source i can take a look and make it compatible if its not.

[2015-05-10 20:01] kodeine commented on #44
@mjcombalicer
so for example you have a permission alias of `user`. In routes you can set prefix of `user` so route will check all read/write `user` permissions eg, it will check `create.user`, 'view.user' etc.

[2015-05-14 10:02] cirdog opened #46 "Error when using as Global Middleware."
Hi Devs,

Thanks for your wonderful contribution.

I've been using your module smoothly so far, up to when I use it as a "Global Middleware", placing it in the Kernel.php's $middleware array.

The $this->request->route() returns NULL when HasPermission.php is being called during the pipeline.

If this is trivial to fix please kindly help, since it would be very useful to have all routes going thro

[2015-05-14 11:09] kodeine commented on #46
@cirdog, please paste your routes files so i can run it locally and find the issue.

[2015-05-14 12:53] cirdog commented on #46
@kodeine,

Thanks for your prompt response.

1) My route file is basically the vanilla (out of the box) one, nothing special, as I was just testing on a blank laravel 5.0.30. When I run the root route `Route::get('/', 'WelcomeController@index');` or on the `home` route, it already gives me this NULL object error.

2) And my Kernel.php is as follows:
[code]
3) During my test, I've tried the followi

[2015-05-14 19:40] nerijunior opened #47 "Help: Solution for segmented group of roles"
Hello! I'm developing one ERP and I'm looking a solution for:
- Users can control more than one companies.
- **Users have different permissions for the company branches.**

Example: John Doe is employee from two companies A and B on A he have permission to delete users on B not.

So he need to have two different roles and permission on the same user.

What's the best way to solve this?

Thanks!

[2015-05-14 23:23] danyellnoe opened #48 "NTFS / Permission inheritance"
Greetings and thanks for your work on this package.

I just spent the last couple hours trying to figure out why the permissions inheritance was not working as per your example in the wiki.  Alas, it was the **'ntfs'** setting in the config file.

I suggested an edit on the Wiki page to inform the reader that the example will not work as expected if the default value of **true** is left unchanged.

[2015-05-15 04:28] cirdog commented on #48
I'd also like to join into this discussion to give my 2 cents, surely I'm no expert but I still hope to contribute some ideas if it ever helps on this useful module.

#### On naming
I too agree that the name `ntfs` might not be as descriptive. How about just call it `permissive`? I think it's very suitable & straightforward.

#### On permissiveness
Say (ntfs == true) being permissive & the opposit

[2015-05-15 14:40] danyellnoe commented on #48
@cirdog Wow, looking at that *nested set* pattern stuff just gave me a flashback to studying CS in college some dozen years ago!  Good stuff...  Actually, you provide a lot of good information, so thanks!

I generally agree with your suggestions.  Also, note that the approach of starting with least permissive at the top of the inheritance hierarchy was also previously suggested by @ssssteve in iss

[2015-05-15 15:26] cirdog commented on #48
@danyellnoe

I just had the urge to come back to **tone down** my nested set idea, I think it's overkill (or even mistaken).

Maybe a simple **ancestral-trace** would do the job of letting the children overriding its immediate parent, level by level, no matter how the permission was laid out (you know it could ends up being a mess after years of usage).

[2015-05-15 15:52] danyellnoe commented on #48
Well, I'm not entirely sure if I'm on target with this stuff or not either.  But I think that's what these types of discussions are for!  @kodeine has likely spent much more time thinking about this stuff recently than you or I, thus why I will am interested to hear the feedback.

[2015-05-18 07:15] angelocala94 opened #49 "Middleware inside resource controller"
I've tried to do this inside my resource controller:
[code]
but it doesn't work, why?

[2015-05-20 18:25] kodeine commented on #49
@angelocala94

you cannot pass params to middleware in controllers.
you can simply use protect_alias in your routes.

[2015-05-20 18:28] angelocala94 commented on #49
There is a way to use the resource URL automatically as protect_alias?

[2015-05-20 18:38] kodeine commented on #49
@angelocala94
You can make a middleware or a function which will detect route and returns its protect_alias.

[2015-05-20 18:41] kodeine commented on #48
@danyellnoe @cirdog

I agree with changing the name `ntfs` to `most_permissive_wins` and setting its default to false. It really comes to the implementation of each app. But i guess setting it to false by default would be good for most of the people as most have firewall approach. If you guys could update the wiki, i'll be pushing mentioned updates.

Also, i was thinking to create a general contro

[2015-05-20 18:43] kodeine commented on #47
@nerijunior

take a look at this post #12 it will give you some ideas.

[2015-05-20 18:44] kodeine commented on #46
@cirdog
Were you able to solve this? or should i test at my machine? (sorry for late response).

[2015-05-21 10:02] angelocala94 commented on #49
Yep, i've extended your middleware, thanks.

[2015-05-21 10:02] #49 closed

[2015-05-22 14:30] danyellnoe commented on #48
Hey @kodeine, I can lend a hand on the wiki.  And I do have some thoughts on the control panel as I just integrated both role and permission controls into the admin system I am currently building at work. I am pretty busy today, but I will be happy to share thoughts with you this weekend.

[2015-05-26 11:01] wowzzangga opened #51 "__call() default value causes an error with Mockery"
I'm attempting to mock a class with User Eloquent model which has the HasRole traits. When I run my test suite I get this error:
[code]
After a little bit of research, I found https://github.com/keenlabs/KeenClient-PHP/pull/52 could be related to this issue. It suggests `__call()`'s `$args` parameter is required and will always be present as an array and adding a default value can cause problems.

[2015-05-31 18:11] kodeine commented on #48
@danyellnoe
sure that would be great. Also if you can show us the screen shots in case you cant share control panel source.

[2015-06-01 16:48] isaackearl opened #52 "Question: How does $request->user get the user?"
This acl package looks amazing and so I've started implementing it in a project I'm working on.. my problem is that I want to use it a bit differently because I don't want to attach the roles and permissions to my App\User Model.  The reason for this is because in my application a user can authenticate using their user, but they have a different profile for each "company" that they register under.

[2015-06-01 17:06] kodeine commented on #52
@isaackearl
If you are using your custom user / role models, you can define them in config file.

[code]

[2015-06-01 17:10] isaackearl commented on #52
@kodeine

ya I've updated that my custom role and permission model are working great.  That isn't the problem.  I was just trying to add that to show you how I'm not using config(auth.model) to get the user model for the roles.

basically the real question is why doesn't the middleware work for me.  it breaks when it does
[code]
because user is null.  I can't see any indication in the code of wher

[2015-06-01 17:22] isaackearl commented on #52
@kodeine ... nvm I'm realizing that $request->user() function actually exists on the request and it resolves the user somehow (haven't figured it out yet).  I guess I will come back and answer this question later for anybody else trying to use something other then their regular user model for roles and permissions...

[2015-06-01 17:50] kodeine commented on #52
@isaackearl
yeah $request->user() is from laravel. Logged in user. do write back the resolution :+1:

[2015-06-02 15:56] isaackearl commented on #52
@kodeine I created my own middleware based on yours, that gets the user from my JWT Token (It's an API).  Here is a portion of my modified middleware.. instead of $request->user() I have a getUser() function that allows me to get it from my token.

[code]

[2015-06-02 17:36] danyellnoe commented on #48
@cirdog Sorry, I'm out of town right now, but I will follow up on this soon.  Hasn't fallen off the radar!

[2015-06-03 19:58] omar-faruk-sust opened #53 "Example of using this package with Laravel buil-in Auth system."
I am beginner of Laravel 5 even in Laravel too. So can you please give an example tutorial to working with laravel built-in Auth and registration system. i have modified the registration system of laravel and i install and cofigure your ACL package. but do not understand how i can add a role and permission.

[2015-06-04 11:31] bsfsos opened #54 "Permission based on resource owner ?"
How can I implement permission that only owner of resource can make changes to his/her entity.

I have a post table with user_id column.
if post.user_id == current_user_id then he/she can edit

permission based on ownership of entity

[2015-06-08 10:09] yasseralkahf opened #55 "Call to a member function keyBy() on null"
Hello,

I created a new laravel project with new database, I did exactly what you did in the wiki, I hard coded a new user in the database, and then I tried to add a user permission like what you did

$user = User::first();
$user->addPermission('user');

And I get this error:

FatalErrorException in HasUserPermission.php line 17: Call to a member function keyBy() on null

Can you help please ?

[2015-06-08 10:53] yasseralkahf commented on #55
Ah I get it, I thought that when I did $user->addPermission it will create a CRUD

[2015-06-08 10:57] RomainLanz commented on #55
Hi @yasseralkahf,

Is it still an issue?

Have you also use `HasPermission` trait?

[2015-06-08 11:13] yasseralkahf commented on #55
Hello @RomainLanz,

THe issue was that I use HasUserPermission trait, instead of HasPermission, now when I use HasPermission, it works fine, thank you

[2015-06-08 11:13] #55 closed

[2015-06-08 19:48] kodeine commented on #54
@bsfsos
This feature is still in todo list. I will add that in upcoming release. Not sure how soon that will be though.

[2015-06-08 19:48] #54 closed

[2015-06-08 19:49] kodeine commented on #51
@wowzzangga
so adding ```__cal($args)``` fixes the issue?

[2015-06-08 19:49] #47 closed

[2015-06-08 23:12] wowzzangga commented on #51
@kodeine
Yes, so please drop the default value for __call(), like this :
`public function __call($method, $arguments)`

Thank you so much.

[2015-06-09 21:44] camiant opened #56 "ErrorException in HasRole.php line 79: in_array() expects parameter 2 to be array, object given"
Please fix it for L5.1 compatibility

[2015-06-09 21:52] kodeine commented on #56
@camiant
Can you cast the second param as array and test? If that works ill push commit

[2015-06-09 21:56] camiant commented on #56
works like a charm :)

2015-06-09 23:52 GMT+02:00 Kodeine <notifications@github.com>:

[2015-06-09 21:57] camiant commented on #56
sorry.. my mistake: I'm not recognized in my very role

2015-06-09 23:52 GMT+02:00 Kodeine <notifications@github.com>:

[2015-06-09 21:59] camiant commented on #56
line 79 needs to be written as :

return in_array($slug, $roles->toArray());

2015-06-09 23:52 GMT+02:00 Kodeine <notifications@github.com>:

[2015-06-10 10:19] ssssteve opened #57 "ErrorException in HasPermissionInheritance.php line 51: array_replace_recursive(): Argument #3 is not an array"
As well as the error highlighted in issue #56 by @camiant, upgrading to L5.1 also gave the following error:

[code]

[2015-06-10 11:43] yasseralkahf opened #58 "Adding created_by and updated_by column"
Hello,

I added 2 columns  "created_by" and "updated_by" in the tables "permissions" and "permission_user", how to fill this columns in this two tables when I call the function $user->addPermissions('user') or $user->assignPermission('user').

I figured it out for the table permission by changing the addPermission method like that

 public function addPermission($name, $permission = true)
    {

[2015-06-10 16:17] kodeine commented on #57
@ssssteve
i've pushed the commit. Let me know if that resolves the issue.

[2015-06-10 16:17] kodeine commented on #56
@camiant
i've pushed the commit. Let me know if that resolves the issue.

[2015-06-10 18:20] yasseralkahf opened #59 "assigning Permission to user issue"
Hello,

I found an issue, that if you assign a permission to a user that already have that permission, it will retrun an exception said:
UnexpectedValueException in compiled.php line 14223: The Response content must be a string or object implementing __toString(), "boolean" given.

I think it's because of the "return false;" that you add in the last of the function assignPermission in HasPermissio

[2015-06-11 01:18] kodeine commented on #51
@wowzzangga
Issue solved. Thanks

[2015-06-11 01:18] #51 closed

[2015-06-11 04:58] wowzzangga opened #60 "Laravel 5.0 and 5.1 compatibility issue with lists()"
I'm currently working with Laravel v.5.0, and I have an error in the HasRole.php since this https://github.com/kodeine/laravel-acl/commit/8e5bcd4e0befdf9de6e5de498a613510e4873168 update.

[code]

[2015-06-11 09:27] yasseralkahf commented on #58
I found the solution, it's simply sending the added value with the attach() or push() functions in an array like that :
 $this->permissions()->attach($permissionId,['created_by'=>6]);

[2015-06-11 09:29] yasseralkahf commented on #59
The solution that I suggest that to make the return of assignPermission($permission) function in HasPermission.php equals 0. not "false"

[2015-06-11 15:09] kodeine commented on #60
@wowzzangga
so instead of using `toArray()` if we cast it as (array) would it solve the issue?

[2015-06-12 15:41] #20 closed

[2015-06-12 15:44] kodeine commented on #59
@yasseralkahf
it should not assign the permission as it checks if permission id doesnt already exists.
Could you please provide code so i can run and debug?

Thank you.

[2015-06-12 18:07] avlastenok commented on #60
as per laravel docs you would need
to change
$this->roles->lists('slug')->toArray();
Into:
$this->roles ->lists('slug')->all();

[2015-06-12 18:30] kodeine commented on #60
@avlastenok
yeah but that `all()` method is not available for 5.0, for backward compatibility, we need to type cast it as array. Or you have anything else in mind?

[2015-06-12 19:42] avlastenok commented on #60
But laravel 5.0 does have the all method
http://laravel.com/docs/5.0/eloquent#basic-usage Scroll down to retrieving all records

[2015-06-12 19:48] kodeine commented on #60
@avlastenok
`$permission->lists('name')->all()` wont work on 5.0, just checked.

[2015-06-12 19:51] avlastenok commented on #60
Must be a error in the documents then, well I did not try it out on 5.0 just read the docs for it.

[2015-06-13 03:10] xKairu opened #62 "is() fails on Laravel 5.1"
At first I had to put `->all()` onto the end of the `getRoles()` call to fix the `in_array()` issue, which worked. Decided to try updating to see if it was fixed, and it wasn't 100% fixed.

Dumping `getRoles()` returns this:

![2015-06-13_15-02-24](https://cloud.githubusercontent.com/assets/450516/8142765/724bb80e-11dd-11e5-9b91-d8986bfd37fa.png)

I had to fix it by doing: `$roles = array_values($

[2015-06-13 03:14] kodeine commented on #62
@xkairu
Ill push an update tomorrow.

[2015-06-13 03:18] kodeine commented on #57
Follow up at #60.

[2015-06-13 03:18] kodeine commented on #56
Follow up at #60.

[2015-06-13 23:45] kodeine commented on #60
@xkairu @avlastenok @wowzzangga
I've pushed commits to branch 1.0, please try and let me know.

[2015-06-14 01:22] xKairu commented on #60
https://github.com/kodeine/laravel-acl/blob/1.0/src/Kodeine/Acl/Traits/HasRole.php#L35
If the user has roles, return an empty array? Changing that line to this now returns properly:
`return is_null($this->roles)`

https://github.com/kodeine/laravel-acl/blob/1.0/src/Kodeine/Acl/Helper/Helper.php#L24
For some reason, changing this line to `->all()` still returns a Collection, when it should fix all

[2015-06-14 02:14] kodeine commented on #60
@xKairu
I have fixed, it works on 5.0. I was missing the use trait in helpers file but now its added so collectionAsArray should work.

[2015-06-14 10:20] xKairu commented on #60
Everything seems to be good now, thanks :+1:

[2015-06-14 14:06] #60 closed

[2015-06-14 14:06] #62 closed

[2015-06-14 14:07] #57 closed

[2015-06-14 14:07] #56 closed

[2015-06-14 14:10] kodeine commented on #48
@danyellnoe @cirdog
Ive pushed our discussed updates to master branch. Let me know if that is okay

[2015-06-14 21:26] avlastenok opened #63 "Blade template"
using
@role('artist')
        test
@endrole

simply outputs the blade stuff as if it were text, i'm in Laravel 5.1 I have not tested in 5.0.x

[2015-06-15 08:56] tuvaergun opened #64 "Laravel 5.1 when compatibility"
Laravel 5.1 when compatibility

[2015-06-15 11:09] kodeine commented on #64
@tuvaergun
Its l5.1 compatible.

[2015-06-15 22:06] RomainLanz commented on #63
Hi,

Have you try with the normal syntax?

[code]

[2015-06-15 22:06] #64 closed

[2015-06-15 22:07] #58 closed

[2015-06-15 22:08] RomainLanz commented on #53
You can find all of that kind of information on [our wiki](https://github.com/kodeine/laravel-acl/wiki).

[2015-06-15 22:08] #53 closed

[2015-06-15 22:10] RomainLanz commented on #52
@isaackearl Can we close this?

[2015-06-15 22:11] RomainLanz commented on #45
Closed due to inactivity

[2015-06-15 22:11] #45 closed

[2015-06-15 22:11] RomainLanz commented on #44
Closed due to inactivity.

[2015-06-15 22:11] #44 closed

[2015-06-15 22:13] RomainLanz commented on #41
For the moment you need to do it manually. On our v2 this would be handle automatically!

[2015-06-15 22:13] #41 closed

[2015-06-15 22:14] RomainLanz commented on #38
Closed due to inactivity.

[2015-06-15 22:14] RomainLanz commented on #21
Closed due to inactivity.

[2015-06-15 22:14] #21 closed

[2015-06-15 22:15] RomainLanz commented on #29
Closed due to inactivity.

[2015-06-15 22:15] #29 closed

[2015-06-15 22:19] #4 closed

[2015-06-15 22:22] RomainLanz commented on #46
Close due to inactivity.

[2015-06-15 22:22] #46 closed

[2015-06-15 22:27] isaackearl commented on #52
@RomainLanz Yes.

[2015-06-15 22:27] #52 closed

[2015-06-16 03:57] avlastenok commented on #63
Of cause the normal check works which is why the topic was blade.

[2015-06-16 05:47] angelocala94 commented on #41
When will be released?

[2015-06-16 06:23] RomainLanz commented on #63
Which version did you use?

Blade template has been added only on master branch, it'll be backported on the week.

[2015-06-16 06:27] RomainLanz commented on #41
The v2 will be stable and release at the end of august.

[2015-06-16 06:37] angelocala94 commented on #41
Perfect :)

[2015-06-16 14:39] danyellnoe commented on #48
Let me know when and I will help update the wiki.  Should be straightforward. Will include the example mentioned before.

[2015-06-16 18:01] nerijunior opened #65 "AclServiceProvider not found on composer update"
I've executed `composer update` and the get the message: `Class 'Kodeine\Acl\AclServiceProvider' not found in /home/vagrant/%/bootstrap/cache/compiled.php.`

The file is in the correct path.

Someone with same problem?

[2015-06-16 21:04] RomainLanz commented on #65
Hi @nerijunior,

can we see your `composer.json` file?

[2015-06-16 21:38] leyvicaz commented on #65
I have the same problem

[2015-06-16 21:56] nerijunior commented on #65
@RomainLanz  - composer.json:

[code]

[2015-06-16 21:58] RomainLanz commented on #65
Can you try a `composer update`? I have change the PSR-4 loading.

[2015-06-16 22:00] leyvicaz commented on #65
thanks, it's done

[2015-06-16 22:02] RomainLanz commented on #65
Is it working now?

[2015-06-16 22:04] leyvicaz commented on #65
yes

[2015-06-16 22:07] #65 closed

[2015-06-16 22:22] nerijunior commented on #65
It's working!

[2015-06-22 16:09] jshah4517 opened #66 "Call to undefined method Illuminate\View\Compilers\BladeCompiler::directive()"
This error appeared after doing composer update today, currently running Laravel 5.0.33.

I managed to find the block of code at fault, lines 64 to 81 in AclServiceProvider.php, as copied below. Commenting it out temporarily fixed the problem but I'm unsure about a permanent solution (not even sure why this has suddenly appeared).

[code]

[2015-06-22 16:15] kodeine commented on #66
@jshah4517
that's in master branch, you need to be using ~1.0 branch

[2015-06-22 16:19] jshah4517 commented on #66
Thanks! That fixed it.

[2015-06-25 01:26] gitBC opened #67 "'CreatePermissionUserTable' not found - Artisan migrate:rollbak, reset (L5.1)"
Was trying to rollback some migrations on fresh install, getting error

` [Symfony\Component\Debug\Exception\FatalErrorException]
  Class 'CreatePermissionUserTable' not found     `

with the following stacktrace

`PHP Fatal error:  Class 'CreatePermissionUserTable' not found in /home/vagrant/Code/vendor/laravel/framework/src/Illuminate/Database/Migrations/Migrator.php on line 323
PHP Stack trace:

[2015-06-25 08:12] parallelaus opened #68 "Protecting custom controller methods"
Is there a way to protect controller methods that does not form part of the standard CRUD methods.

In my example, I want to create a setStatus method in the controller and only allow certain users to set the status of the resource. So the normal update method will be available for some users, but they will not be able to set the resource status column via the update method. Then the setStatus met

[2015-06-25 14:22] kodeine commented on #68
@parallelaus yes you can take a look at [this](https://github.com/kodeine/laravel-acl/wiki/Protect-Routes#params-definitions).

[2015-06-26 15:53] icfr opened #69 "setSlugAttribute is not update ;)"
when i would update permission for remove a action ,action is not delete because the setSlugAttribute function add old action

[2015-06-26 16:11] icfr opened #70 "check permission is not cached"
for each check permission it always check in database whatever the permission is already checked

i solve the problem by replace  this in haspermission trait

[code]

[2015-06-28 13:57] fishmad commented on #63
I have same thing:

"laravel/framework": "5.0.33",
"kodeine/laravel-acl": "~1.0@dev"

[2015-06-28 14:48] RomainLanz commented on #63
You should use master branch.

`"kodeine/laravel-acl": "dev-master"`

[2015-06-28 14:49] #63 closed

[2015-06-29 12:52] martynbiz commented on #28
I have the same error but don't understand how this issue was solved. After migrations, I had created my own models (as instructed in the installation guide). I have added the package to your application service providers in config/app.php. And, I have published only to create the config/acl.php file, but I haven't edited this file as I wasn't instructed to do so. It would seem that roles are bein

[2015-06-29 14:18] kodeine commented on #28
@martynbiz
Since you are using custom role and permission models, you need to define those in the config/acl.php as well.

[2015-06-29 14:19] kodeine commented on #68
@parallelaus does it solve the problem? if so please close the issue.

[2015-06-29 14:59] martynbiz commented on #28
Hi, thanks for the response. I tried doing that before from the previous posters issue, but perhaps I'm not doing it correctly. Here is the current changes I've made as I extended your Role and Permission models:

[code]

[code]

And, I also updated the config/acl.php file - is this correct?

[code]

...but still I just get the same error. By the way, I can confirm too that I am using Laravel 5.0.

[2015-06-29 17:54] gitBC commented on #67
For the record, This is merely caused by the fact that Composer needs to know that laravel-acl needs to be added to the autoloader.  we can also just composer dump-autoload to rectify the error.

[2015-06-29 17:54] #67 closed

[2015-06-29 21:44] parallelaus commented on #68
Yes, thanks I figured it out. Maybe you can add a few more examples to the Wiki just to make it a bit clearer.

All in all a great library and I am happy that we are building our application with this.

[2015-06-29 21:44] #68 closed

[2015-06-30 19:42] curtsheller commented on #63
Using "dev-master" returns this from composer diagnose -vvvv:

[code]

Which composer docs (https://getcomposer.org/doc/faqs/why-are-unbound-version-constraints-a-bad-idea.md) suggest is a bad idea.

-----
Why are unbound version constraints a bad idea?#

A version constraint without an upper bound such as *, >=3.4 or dev-master will allow updates to any future version of the dependency. This incl

[2015-06-30 21:59] leyvicaz commented on #66
the same again problem  :(

[2015-07-01 14:31] leyvicaz commented on #66
the problem return

[2015-07-01 14:51] leyvicaz opened #71 "Call to undefined method Illuminate\View\Compilers\BladeCompiler::directive() #66"
I find this problem again

[2015-07-01 15:30] kodeine commented on #71
#66

[2015-07-01 15:30] #71 closed

[2015-07-01 15:30] kodeine commented on #66
Your compose.json should have `"kodeine/laravel-acl": "~1.0@dev",` not the dev-master branch.

[2015-07-01 17:36] leyvicaz commented on #66
ok, thanks :+1:

[2015-07-01 20:18] #66 closed

[2015-07-01 23:39] curtsheller opened #72 "require.kodeine/laravel-acl : unbound version constraints (dev-master) should be avoided"
How can this be resolved?

[2015-07-02 17:52] kodeine commented on #72
#66
@curtsheller
Your composer.json should have "kodeine/laravel-acl": "~1.0@dev", not the dev-master branch.

[2015-07-02 19:16] curtsheller commented on #72
Curt Sheller
curt@curtsheller.com
curt@funkyfrets.com
curtsheller@gmail.com

That is not what is on the installation <https://github.com/kodeine/laravel-acl/wiki/Installation> instructions:

"kodeine/laravel-acl" : "dev-master"

And, this is what I get if I use the ~1.0@dev.

The blade extension are echoed out.

@role('admin')
 IN role('admin')
@endrole @role('student')
 IN role('student')
@endrol

[2015-07-04 01:44] kodeine commented on #72
@curtsheller
master branch is being developed. 1.0 branch is stable, so i advice you to use ~1.0 branch.
i will work on master and fix blade issue soon.

[2015-07-05 14:45] kodeine commented on #72
@curtsheller
so blade works fine on master?

[2015-07-06 16:12] curtsheller commented on #72
Blade is working on "dev-master".

[2015-07-07 15:05] RJacksonm1 opened #73 "Conditional route protection"
Hi there,

Apologies if this has been asked before. I couldn't find anything looking through the docs or issues.

I have a User's controller and a user's permission, set up as follows:

[code]

If I set up the ACL middleware and set `'protect_alias' => 'user'` then no user will be able to access the `update` method.  But I have the `update.self` permission: I want users to be able to update their

[2015-07-08 16:23] fishmad opened #75 "Protect Routes Wiki is confusing, no sense"
Can you please provide a more simple example ie admin (full permissions), editor (limited) and registered user (view only)  on say a model called albums with basic artist, album, title, year - I've just about given up trying to make anything work based on protected route instructions.

[2015-07-09 03:01] EHLOVader opened #76 "dev-master L5.0 compatibility"
I tried dev-master to use the blade extensions. It doesn't work. Extending blade was changed in 5.1 and it appears `Blade::directive` didn't exist in 5.0.

It looks like you want to maintain backwards compatibility to L5.0 from the changelog but it appears the blade extensions will complicate that.

See [Laravel Upgrade Guide- 5.1.0- Blade](http://laravel.com/docs/master/upgrade#upgrade-5.1.0) for

[2015-07-10 14:28] #72 closed

[2015-07-14 06:11] rahul9874563210 opened #77 "cant use kodeine's methods using controller"
I using kodeine package with larave 5 and  i'm trying to assign role  to a specific user but it doesn't works .
i have done all the required setups correctly. When is use php artisan tinker it works but accessing from controller it doesn't.
i'm getting error
Call to undefined method Illuminate\Database\Eloquent\Collection::assignRole()
.
My RolesController.php is as follow:
<?php namespace App\Htt

[2015-07-18 01:47] martynbiz commented on #28
@kodeine
Did I define them correctly in my example above? Is this how the provider expects the Role/Permission models to be defined/configured when they are my own?

[2015-07-18 16:00] kodeine commented on #28
@martynbiz
Yes that seems right, are you using branch 1.0?

[2015-07-19 04:30] #75 closed

[2015-08-05 11:21] arebah opened #78 "Compatibility with laravel 5.1"
hello
Thank you for your time designed to develop this wonderful package.

I have a problem of compatibility with Laravel 5.1.8 I have this error:

BadMethodCallException Builder.php line in 2003: Call to undefined method Illuminate \ Database \ Query \ Builder :: is ()

Regards,

[2015-08-05 13:36] kodeine commented on #78
@arebah
can you please paste your code so i can replicate here and give it a try?

[2015-08-05 13:48] arebah commented on #78
I have not added your documentation I followed to the letter with the
5.1.8 version
of Laravel.

Cordialy,

---------------------------------------------------------------
*ADIL REBAH*
*Leader Technique confirmé*
MOBILE :
*+212 (0) 662 165 333*FIX       : *+212 (0) 522 758 131*
---------------------------------------------------------------

2015-08-05 14:36 GMT+01:00 Kodeine <notifications@github

[2015-08-08 23:44] goranata opened #79 "Question about protecting routes"
Hello,

I have a question about using is => 'roleslug'

is it possible, somehow to use is => ['roleslug1', 'roleslug2']

because all I get is an error so far ?

[2015-08-08 23:47] kodeine commented on #79
Refer to the wiki at

https://github.com/kodeine/laravel-acl/wiki/Validate-Permissions-and-Roles

[2015-08-09 00:08] goranata commented on #79
THank You for the quick reply but, I'm still getting an error:

I'm trying to make something like this:
Route::group(['namespace' => 'User', 'prefix' => 'user', 'middleware' => ['auth', 'acl'], 'is' => ('partyhost'|'partygoer')], function() {
/// routes come here ...
}

[2015-08-09 00:45] kodeine commented on #79
@goranata
`is` should be like this  `'is' => 'partyhost|partygoer'`

[2015-08-09 00:54] goranata commented on #79
Didn't crossed my mind for this.
Thank you very much, that's it. Solved.

[2015-08-09 00:54] #79 closed

[2015-08-11 01:55] tritontek opened #80 "App\Http\Kodeine\Acl\Middleware\HasPermission does not exist"
Hi guys, can you help me? I'm using Laravel 5.1. And I tried to integrate this library (laravel-acl) to my project. But when I run my project using the route which I protected by laravel-acl, this will popup to my screen "App\Http\Kodeine\Acl\Middleware\HasPermission".

I already tried adding this "'acl' => Kodeine\Acl\Middleware\HasPermission::class," in my Kernel.php in the $royeMiddleware array

[2015-08-11 02:51] #80 closed

[2015-08-11 03:37] tritontek opened #81 "Issues on HasPermission.php Laravel 5.1"
I'm using Laravel 5.1, I have a problem when I'm doing this in my routes.php

Route::group(['middleware' => ['acl'],
              'is' => 'Administrator',
              'protect_alias' => 'user'],
function () {
    Route::resource('user', 'UserController');
});

HasPermission.php line 75
Call to a member function is() on a non-object

[2015-08-11 10:57] tritontek commented on #81
I solved it already, I just need to re-arrange my middlewares and it worked ^_^

[2015-08-11 10:57] #81 closed

[2015-08-11 15:33] KhaledSMQ opened #82 "Update the roles and permissions"
He how i can update the rols and the permissions?

[2015-08-14 20:28] rilwans opened #83 "Displaying all Users and their permisions"
Am new to Laravel how do i display all user and their role

My code

  $users = User::all();

        $users->getRoles();

        dd($users->role);

Error
FatalErrorException in UsersController.php line 24: Call to undefined method Illuminate\Database\Eloquent\Collection::getRoles()

[2015-08-15 16:27] KhaledSMQ opened #84 "Create super Admin"
Hi , Is there is way to create a super admin can pass all role validation?

[2015-08-21 18:30] kodeine commented on #84
@KhaledSMQ
yes follow this (wiki)[https://github.com/kodeine/laravel-acl/wiki/Permissions-Inheritance]

[2015-08-25 12:48] kaju74 opened #86 "How to use the blade extensions?"
Hi.

I'm not sure, how to use the acl blade extensions and I had to enable them manually? If i use something like:

    @role('admin|moderator')
        // content allowed for admin's only
    @endrole

...the template renders this as plain text. The @role attribute won't be processed.

[2015-08-25 18:23] kodeine commented on #86
@kaju74
i will take a look on it and get back to you.

[2015-08-27 13:51] rptgit opened #87 "Function addPermission from trait HasUserPermission"
I was looking for a function to create permissions for specific models but i've noticed the function addPermission from trait HasUserPermission can't create a new permission with custom values in a single executions.

For example, the function

$user->addPermission('custom', [
     'create' => false,
     'view.phone' => true,
     'view.blog' => false
]);

will create a record with default crud p

[2015-08-27 13:53] kodeine commented on #87
@rptgit
i would have to test this.

[2015-08-29 09:49] elrco commented on #38
Hi there, if you think this topic can be re-opened, well yo can count on me to build a basic admin panel! So please let me know if there is any interest :)

[2015-08-29 12:43] teslaji commented on #38
@elrco Count me In ! , I am up for contributing for admin panel..

[2015-08-30 09:39] elrco commented on #38
@teslaji very well, can you guide the route? I'm new to kodeine's ACL package. Can you split the work into parts to start?! It seem's writing the panel for kodeine is a bit harder that entrust.

[2015-08-30 23:55] Zyles opened #88 "Lumen support"
Could we get some Lumen love?

I can't find a decent Lumen ACL package...

Right now I get:
[code]

Thanks.

[2015-08-31 07:08] elrco opened #89 "Developing Admin Panel for Kodeine's Laravel-ACL"
Hi there
I'm going to build an Admin Panel for laravel-acl. Is there anyone who could show the route and split the job into parts, as I'm new to this ACL package. Already there is one volunteer @teslaji

[2015-08-31 13:34] kodeine commented on #88
@Zyles
i will work on it this weekend.

[2015-08-31 13:40] kodeine commented on #89
@elrco @teslaji
i am in as well. Lets make an outline and get it started. I've prepared a [repo](https://github.com/kodeine/laravel-acl-panel/) so we can begin working.

Anyone willing to join the team, please feel free and message any of us.

[2015-08-31 13:43] kodeine commented on #38
@Addgod @Rtransat
We will be building acl panel, if you guys want to volunteer, please [chime in](https://github.com/kodeine/laravel-acl-panel)

[2015-08-31 13:43] #38 closed

[2015-08-31 15:05] Zyles commented on #88
Thanks a lot.

My use case is to secure an API and also using with https://github.com/dingo/api if you need to run some tests.

[2015-09-01 05:38] ra3oul opened #90 "collisions in using traits"
in laravel 5.1.11 your HasRole trait have collisions with laravel embed traits because in this version of laravel acl system is added check this out

[2015-09-01 06:37] elrco opened #91 "Laravel 5.1.11 Authorization"
Hi there
How do you think laravel's new Authorization could affect laravel-acl?!

[2015-09-01 07:59] tritontek opened #92 "Protecting Routes (using different roles)"
I have a question guys, maybe you could help me. My question is how can I protect the routes if I have two different kinds of roles? For example I have an administrator and a supervisor. How can I Implement it in my routes.php?

Privileges for all roles in User route:
administrator: ALL
supervisor: READ, UPDATE, CREATE (NO DELETE)

I have this in my administrator
Route::group([
    'prefix' => 'ap

[2015-09-01 14:01] kodeine commented on #92
@tritontek read this [wiki](https://github.com/kodeine/laravel-acl/wiki/Permissions-Inheritance)

[2015-09-01 14:13] kodeine commented on #86
@kaju74 are you on laravel-acl's *master* branch?

[2015-09-02 00:15] parallelaus opened #93 "Permission Inheritance"
I am finding the if the base permission is set to true, and an inherited permission set to false, the false does not override the true.

The opposite way however, does work, if the base permission is set to false and the inherited permission is set to true it works.

E.g. The following always produces true permissions for create, update and delete even though the user only has the organisation.fac

[2015-09-02 02:23] kodeine commented on #93
@parallelaus
Did you try setting `most permissive` to false in acl config?

[2015-09-02 03:07] Zyles commented on #89
How will the panel get the data? JSON?

I am building an API in Lumen, so when this ACL package works I need to get the ACL stuff from Eloquent into my JSON responses.

I was going to build an admin panel for this too, but my use case may be different from yours. Since my app is fully JSON based I rely on the JSON to build the interface.

[2015-09-02 08:36] parallelaus commented on #93
Thanks - That solved the issue!

What does ntfs stand for?

[2015-09-02 12:04] tritontek commented on #92
First of all thanks for the reply. But what I mean is in the routes.php. How can I protect create routes for different roles? Can you give me a sample? Thanks.

[2015-09-02 13:14] elrco commented on #89
@Zyles Tanx for the comment, well if @kodeine finds JSON based implementation suitable, and @Zyles gonna help if it goes that way, why not!

[2015-09-03 13:39] kodeine commented on #93
@parallelaus
If you have multiple roles assigned to a user, each roles has a common permission. When we compile permissions, we need to know if Allow|Deny permissions take precedence over Deny|Allow permissions.

[2015-09-03 13:55] kodeine commented on #92
@tritontek
I would approach it like this.

i assume you already have administrator and supervisor roles. you just need to assign appropriate permissions to them.

[code]

and this goes in routes.php
[code]

i did not test this, but it should work. let me know how it goes.

[2015-09-03 13:58] kodeine commented on #89
@elrco @Zyles
sure, since we will be supporting acl for lumen as well. why not go json route. This way we can have a base admin panel for users and their acl. many people will find it helpful.

[2015-09-03 16:39] Zyles commented on #89
I suggest using https://almsaeedstudio.com/ theme.

It is open source and looks very good as a starter and easy to change if you want.

[2015-09-03 16:46] kodeine commented on #89
@Zyles looks good to me, @elrco what are your thoughts?

[2015-09-04 14:13] wdog commented on #90
I think I have the same problem
[code]
in php artisan tinker I've  this message

[code]

[2015-09-05 12:11] tritontek commented on #92
@kodeine thank you for your nice response. Sorry I was later to check the message. I will try this and again thanks. Good day :D

[2015-09-05 14:28] wdog commented on #75
yes please I also need some simple example on how to use ACL , mostly with custom methods (not verbs)

thanks a lot for your time!

[2015-09-05 18:00] wdog opened #94 "Ternary Operator"
maybe i'm wrong ( sorry for this ) but this does not work

(https://github.com/kodeine/laravel-acl/blob/1.0/src/Kodeine/Acl/Middleware/HasPermission.php)
there's no way to obtain $methods variable

[code]

http://phpsadness.com/sad/30
please help me to understand this part of code in the middleware

thanks!

[2015-09-05 20:41] wdog commented on #94
I think that in the same Middleware i've found a typo

[code]

sometimes is resource and sometime is resources (parseMethod and crudConfigOverride )

[2015-09-05 21:52] parallelaus commented on #68
This is what I am doing:

permission table seeder:

		$permOrganisation = Permission::create([
			'name'	=> 'organisation',
			'slug'	=> [
				'create' => true,
				'view'   => true,
				'update' => true,
				'delete' => true,
				'view.billing-organisation' => true,
				'delete.billing-organisation' => true,
				'update.billing-organisation' => true,
				'view.owner' => true,
				'create.owner' =

[2015-09-06 17:29] wdog commented on #68
thanks a lot for your code!!!!
so you are not using ```protect_methods```?

[2015-09-07 19:39] kodeine commented on #94
@wdog
$methods has a function call, `$methods = $this->getAction('protect_methods');`

[2015-09-09 19:09] wdog commented on #94
what I mean is that this ternary operator does not work
[code]

and what i don't understand is a real use of protect_methods. can you write simple example?
with methods names and not with placeholders.

thanks a lot

[2015-09-10 06:32] tritontek commented on #92
Hi @kodeine, your idea works, but now I have a problem. Cause I'm using a custom method in my controllers. I'll give you an overview about what I have done. I have created a role named `user` this is just an ordinary user using this and assign it to a specific user.

$permission = new Permission();
$permUser = $permission->create([
    'name'        => 'test',
    'slug'        => [          // pa

[2015-09-10 15:09] Rtransat commented on #92
Same problem for me: (I have not the name attribute in ```role``` model because I use [laravel-translatable](https://github.com/dimsav/laravel-translatable))

[code]

[code]

As admin I can view the show method and same thing with employer role.

As employer the /users/2 should return a forbidden response.

I had the same [issue](https://github.com/kodeine/laravel-acl/issues/37) but it looks like

[2015-09-11 08:08] Rtransat commented on #80
Try:

[code]

[2015-09-11 13:49] kodeine commented on #94
@wdog
i'll fix the ternary operator.
for `protect_methods` read this [wiki](https://github.com/kodeine/laravel-acl/wiki/Protect-Routes)

[2015-09-11 14:20] kodeine commented on #92
@tritontek
try passing complete array for `protect_methods`
[code]

[2015-09-11 15:11] kodeine commented on #94
@wdog ternary operator is fixed.

[2015-09-11 15:18] kodeine commented on #92
@Rtransat
Its weird that after removing `! $this->getAction('protect_alias')` it works. will try locally shortly.

[2015-09-11 15:19] kodeine commented on #93
@parallelaus please close the issue if everything is okay.

[2015-09-11 15:37] kodeine commented on #80
@tritontek
was this solved ?

[2015-09-11 22:02] #93 closed

[2015-09-13 19:36] BlueFreakLP commented on #90
same here

[2015-09-13 19:41] canfiax commented on #91
Curious about this as well. I definitely think it should make use of the native Gate system, but extend it with Roles, middleware, etc.

[2015-09-13 19:49] BlueFreakLP commented on #91
see #90

[2015-09-14 03:32] tritontek commented on #92
Hi @kodeine your suggestion didn't also work. I'll show you my database and my code in routes.php

Here's my Users table:
![users](https://cloud.githubusercontent.com/assets/13327637/9841390/c9ecf1ee-5ad1-11e5-8f1f-080492cff3bf.png)

Here's my Roles table:
![roles](https://cloud.githubusercontent.com/assets/13327637/9841396/da2435f4-5ad1-11e5-8e97-26d0b03100c3.png)

Here's my Permissions table:
![

[2015-09-20 21:21] #94 closed

[2015-09-22 01:56] tritontek commented on #92
you guys any have updates on my issue? thanks.

[2015-09-24 12:46] pawanmeshram commented on #59
Hello,
I followed the installation instruction and getting an error.
Class App\Http\Kodeine\Acl\Middleware\HasPermission does not exist
I am using laravel 5.1 version.

[2015-09-24 20:16] CylonSK commented on #59
did you register middleware in kernel.php as is described in installation guide ?

Add the middleware to your `app/Http/Kernel.php`.
[code]

[2015-09-25 14:58] kodeine commented on #92
@tritontek give me ur skype, ill try to help.

[2015-10-01 10:55] thespacebean commented on #86
I'm having the same issue with laravel 5.0 and laravel-acl ~1.0@dev

[2015-10-01 14:14] kodeine commented on #86
@thespacebean please try and use `master` branch and let me know if that works for you.

[2015-10-02 11:01] koraykupe opened #95 "Is it possible to all users of a group?"
Hello,

I need an ACL package for Laravel and found this one but i've a question.

Is there a method to list all users of a group?

Thanks

[2015-10-02 13:23] wdog commented on #95
maybe something like this  can help

[code]

[2015-10-02 14:33] kodeine commented on #95
@koraykupe i agree with @wdog.

[2015-10-04 07:11] hstung11 commented on #90
So how you guys solve this?

[2015-10-04 09:48] wdog commented on #90
Like i've said i've solved using this in class User, I don't know if is the best solution but works

[code]

[2015-10-08 15:12] #91 closed

[2015-10-08 15:13] #84 closed

[2015-10-10 21:53] CptMeatball commented on #89
Are there any prefab controllers/ packages for ACL-laravel that make managing roles en permissions possible? I'm using ACL for my dashboard and need to develop a controller that can assign permissions to roles etc.

[2015-10-11 16:44] kristofvandam commented on #86
Hi, i have the same issue as kaju74.

i updated to the master branch, but still the same problem.

[2015-10-12 04:14] hikmatbiskandar commented on #90
So far I used

use Authenticatable, CanResetPassword, HasRole;
instead of //use Authenticatable, Authorizable, CanResetPassword;

[2015-10-12 13:25] CptMeatball commented on #86
Blade's syntax recognises ````@can```` instead of ````@permission````, problem with that is always returns false.
````@can('view.roles')```` never returns  true, so the HTML inside it won't get rendered

[2015-10-15 07:54] koraykupe opened #98 "Advanced Permission Combinations by Per Content & Getting All Allowed Contents"
Hi,

I've been trying to develop an internal staff portal for our company. There are departments, job grades, working areas, roles (user, editor, admin, super admin, etc...) and special groups (executives, etc) for user grouping.

User must have one (only one) department. User must have one (only one) job grades. User must work in minimum one area. User must have one (only one) roles. User may hav

[2015-10-15 16:31] #95 closed

[2015-10-17 15:07] m4gn3to commented on #78
Hi.

I've been trying to use kodeine but always get the same error:

BadMethodCallException Builder.php line in 2003: Call to undefined method Illuminate \ Database \ Query \ Builder :: is ()

I cand send you the full code

I'm using laravel 5.1

[2015-10-22 03:33] gianadrias1 opened #99 "Undefined Index Roles"
Hi,

I found out whenever i used blade @role, its always say Undefined index roles.

the error i found is the Auth::user()->is($expression) and Auth:user()->can($expression)
in blade template in AclServiceProvider.

any solution for this ?

Laravel v5.1

Thanks

[2015-10-22 20:08] kodeine commented on #99
@gianadrias1
can you please paste your code so i can replicate here on my end?

Thanks.

[2015-10-22 20:11] kodeine commented on #98
@koraykupe
everything should work. acl dont support object level permissions but those will be added in next release.
you can follow the wiki and get guidelines on how you can protect routes and methods.

[2015-10-23 01:22] mybigman opened #100 "blade roles"
Hi Guys,

Is there anyway to do..

[code]

Thanks.

[2015-10-23 17:52] GESUMAYOR commented on #63
I solved the problem by cloning the master branch and replace with with the content of the laravel-acl folder in my vendor folder with the master on clone. It work very great and I had no need to do all my roles and permissions to give what views I needed based on the role

[2015-10-26 07:18] sagarb09 opened #101 "Is this Laravel 5.1 compatible in the 1.0 dev release?"
If not, do you know when it's available? :) We'd really like to use it!

[2015-10-26 14:29] kodeine commented on #101
@sagarb09
yes its compatible, but you might need a small change which is described in #90

[2015-10-28 02:49] henrysource opened #102 "About guest account"
Recently I am working a project that require ACL to control user posts shows by role and permission.

This project has three roles Guest Member and Admin.

And Guest is for new visitor to website that do not require login.

As far as I know. In order to assign role in this package it needs have user record in the database right?

Is that have any way to assign guest role to a user object that not

[2015-10-28 14:46] kodeine commented on #102
@henrysource
maybe make a guest user and assign role to it.
so if user is not logged in you use guest account?

[2015-10-28 16:12] cesarcruzc opened #103 "Trait method getAuthIdentifier has not been applied"
# In Laravel 5.1

Trait method getAuthIdentifier has not been applied, because there are collisions with other trait methods on Pac\Entities\User

[2015-10-28 16:14] #103 closed

[2015-11-05 21:12] #101 closed

[2015-11-05 21:13] kodeine commented on #100
@mybigman
hmm no i think you have to do that manually.

[2015-11-05 21:13] #100 closed

[2015-11-05 21:13] #99 closed

[2015-11-05 21:13] kodeine commented on #99
Closing due to inactivity.

[2015-11-05 21:13] kodeine commented on #98
Closing due to inactivity.

[2015-11-05 21:13] #98 closed

[2015-11-05 21:14] kodeine commented on #92
Closing due to inactivity.

[2015-11-05 21:14] #92 closed

[2015-11-05 21:14] kodeine commented on #102
Closing due to inactivity.

[2015-11-05 21:14] #102 closed

[2015-11-05 21:14] #87 closed

[2015-11-06 20:26] srueda27 commented on #92
I'm having a issue just like this one and I already changed my code to match to this post.
I have 3 roles and I need to give all access to two of them and just one to the other one.

        $permission = new Permission();
        $adminAgentPermision = $permission->create([
            'name'  =>  'customers',
            'slug'  =>  [
                'create'     => true,
                'view'

[2015-11-06 22:02] srueda27 opened #105 "Protecting Routes, using different roles ( unsolved in the other issue with the same name)"
First of all, sorry for creating a new issue, but I didn't know if you look at closed issues.

I'm having a issue just like this one and I already changed my code to match this post.
I have 3 roles and I need to give all access to two of them and just one to the other one.

    $permission = new Permission();
    $adminAgentPermision = $permission->create([
        'name'  =>  'customers',

[2015-11-07 07:46] amin101 opened #106 "Trait method can has not been applied, because there are collisions with other trait methods on App\User"
how can i fix this issue?

[2015-11-10 20:45] kodeine commented on #106
@amin101
please check #90

[2015-11-10 20:45] #106 closed

[2015-11-15 11:33] amin101 opened #107 "why permission is not end point?"
i'm wondering why permission containts multiple items,  i believe  a Role can have multiple Permissions, but it is not meaningfull for me to have permission that it has subset by itself. in this concept Permission convert to something like Role. i mean a permission should point to a single job and a set of these jobs contain a Role and also a set of Roles specify a User  accessibility.
so whats th

[2015-11-17 17:04] akanbitoluwase commented on #19
Hello,

I am having a similar challenge and even after using the namespace I still get errors as seen below:

Psy Shell v0.5.2 (PHP 5.5.20 — cli) by Justin Hileman

=> null

PHP Fatal error:  Class 'todoparrot\Todolist' not found in eval()'d code on line 1

Kindly help out on this

[2015-11-25 05:45] Hobstweedl opened #108 "Blade Template Extensions in Laravel 5.1"
Blade extensions are not rendering properly in Laravel 5.1. I went to use the role template for the first time and noticed that it displays the literal tag in the view template.

[2015-11-25 17:28] amin101 commented on #108
can you leave the code here?
do u use {!!  !!} or {{ }} ?

[2015-11-25 17:58] Hobstweedl commented on #108
What do you mean? I'm referring to the blade extensions in the wiki

`@role('admin|moderator') `
    `// content allowed for admin's only `
`@endrole`

They don't do anything except display as blade tags to the screen in 5.1

[2015-11-26 02:28] feyromain commented on #108
It is necessary add to file routes.php a function.

For example :
[code]

Then you can use your code

[code]

[2015-11-26 02:43] Hobstweedl commented on #108
This isn't correct.

First, what you are saying is to extend your laravel app on a case by case basis, instead of using the built in functionality of the package. Creating an `@isAdmin` extension isn't what I was trying to do.

Second, it would be better to extend a Blade function in a service provider.

Third, I only submitted this issue to inform the devs of the package about the issue. It's mea

[2015-12-16 06:15] federico77 commented on #107
I am looking into Kodeine as well and have been wondering the same thing. Can anyone offer some insight here?

[2015-12-17 16:48] ilyadavydyuk opened #111 "Displaying role names (Question)"
I used this code:
[code]
Is this right way?

[2015-12-29 06:39] jaketoolson opened #112 "Create permission for specific entity with id?"
Is it possible to create a permission on an entity' id?

i.e. grant permission to a user on "posts" where id = 2?

[2015-12-29 15:41] christianbartels commented on #112
I was asking myself the same some time ago. Unfortunately, this doesn't seem possible at the moment. Would be a great enhancement imo.

[2016-01-08 12:45] nadeem0035 commented on #90
use Kodeine\Acl\Traits\HasRole;

class User extends Model implements AuthenticatableContract,
    AuthorizableContract,
    CanResetPasswordContract
{
    use Authenticatable, CanResetPassword, HasRole;

it will fix your issue

[2016-01-11 17:32] boynet commented on #112
@christianbartels can't you just create permission for each entity?

[2016-01-11 18:31] boynet commented on #90
I think it's wrong to override the laravel gate instead do this:
[code]

as the  can() is more appropriate in the gate service because the end point of really determinate if user can do some action is inside the gate can where you could do like:
[code]

as you can see if you name the method can is not true because a user can have permission of update post, but the most maybe not belong to him, so

[2016-01-12 18:35] christianbartels commented on #112
@boynet For small projects, this may be sufficient. But think about larger applications with hundereds of entities, this would quickly lead to a big mess.

[2016-01-13 05:18] kodeine commented on #111
maybe try
[code]

[2016-01-18 09:13] andreiculda commented on #77
instead of
$user->assignRole($role->id);
try
$user->assignRole($role);

[2016-01-20 03:02] dryhurstroberts commented on #89
Its been 5 months since this was proposed I'm curious to know how things have progresses.

[2016-01-20 03:07] kodeine commented on #89
@dryhurstroberts
I guess none of us had time to start on this one. But maybe soon ill start working on it

[2016-01-20 03:37] dryhurstroberts commented on #89
Shame. What's three status with this ACL component? Is it mature/stable?
Does it support Lumen yet? Cheers
On Jan 19, 2016 7:07 PM, "Kodeine" <notifications@github.com> wrote:

[2016-01-20 03:40] kodeine commented on #89
@dryhurstroberts
Its stable, use version 1.0

[2016-01-20 03:47] dryhurstroberts commented on #89
Thanks. I may investigate implementing the theme
On Jan 19, 2016 7:40 PM, "Kodeine" <notifications@github.com> wrote:

[2016-01-20 03:49] kodeine commented on #89
@dryhurstroberts
wonderful.

[2016-01-20 11:01] boynet commented on #89
I think it's wrong making a complete theme for this.. as most of us use our own theme, and this is just one part of the whole admin panel... maybe we need to make it as simple unstyled partial view that can be embedded to any theme.
or:
just create the backend api and leave the user for creating the actual tables to display the info

[2016-01-21 13:54] djoks opened #114 "Using permissions with multiple authentication"
I have about 4 different namespaces in my application each has it's own authentication(user model, user table, user controller).  The reason for this is that i have various portals/views/dashboards accessible by different kind of people and i wanted my data to be independent as much as possible so that nothing i change in one section affects another.

However now my issue is using this package for

[2016-01-21 16:16] kodeine commented on #114
@djoks
you can always create a role, admin, level1, level2 and assign permissions accordingly to each role.

[2016-01-23 12:53] elrco commented on #89
Dear @dryhurstroberts
Laravel released Authorization (https://laravel.com/docs/5.1/authorization) just after opening this issue.
But it seems Laravel's Authorization just give us some basic abilities and has a long way to go.
So I may get into this issue again.

[2016-01-24 01:50] productiveparks opened #115 "Update of laravel-acl killed my application"
I have enjoyed using laravel-acl in my program since last summer. But...
I ran composer update to install a new unrelated package and it apparently updated laravel-acl. I have this in my composer.json:
"kodeine/laravel-acl": "~1.0@dev",

Composer pulled down a newer version with a call to BladeCompiler::directive which apparently isn't supported in 5.0.
So, now my app won't start and I can't run c

[2016-01-24 02:03] kodeine commented on #115
@productiveparks
Can you run update again and try? There had been recent changes.

[2016-01-24 16:47] productiveparks commented on #115
The update I ran yesterday is what caused the trouble.
I did a git revert to get my local branch back to where it was before I ran update so I'm OK, but I am concerned because it looks like I won't be able to update laravel-acl unless I upgrade to a more recent version of Laravel.

What is the story with BladeCompiler::directive?
It appears to not be supported in the 5.0 version of Laravel I am ru

[2016-01-26 19:58] andreiculda opened #116 "Laravel 5.2 upgrade"
Hi,

I just upgraded to Laravel 5.2 and I get an error on any route that uses laravel-acl Roles:

![image](https://cloud.githubusercontent.com/assets/10087545/12593059/6b511400-c46f-11e5-9757-d2dc02507523.png)

After a long debugging it seems that in laravel 5.2 the [config\auth.php](https://github.com/laravel/laravel/blob/master/config/auth.php) file was changed a "little".

[code]

In short the

[2016-01-29 10:25] andreiculda commented on #105
What I would do is to create separate route controller/group for customer with your specific rights. And when a customer logins you can redirect them to that route. From what i can tell you are trying to give different rights on the same route for different roles. I may be wrong.

[2016-01-31 18:16] kodeine commented on #115
can you try this function on laravel 5.0

[code]

[2016-01-31 18:35] kodeine commented on #86
@CptMeatball @kristofvandam @thespacebean @kaju74
please try version ~1.0 and let me know .

thanks

[2016-01-31 18:35] #48 closed

[2016-01-31 18:35] #59 closed

[2016-01-31 18:36] #73 closed

[2016-01-31 18:37] #76 closed

[2016-01-31 18:38] kodeine commented on #76
@EHLOVader please try ~v1.0

[2016-01-31 18:40] #82 closed

[2016-01-31 18:40] #83 closed

[2016-01-31 18:43] #107 closed

[2016-01-31 18:43] kodeine commented on #105
agree with @andreiculda

[2016-01-31 18:44] #111 closed

[2016-01-31 18:44] #108 closed

[2016-01-31 18:46] kodeine commented on #112
@boynet  @jaketoolson
can you please give me an example?

[2016-02-01 14:46] andreiculda commented on #116
Hi @kodeine. Any feedback on this? I would really appreciate it. Thanks.

[2016-02-01 15:21] kodeine commented on #116
@andreiculda
i'll take a look at this today.

[2016-02-02 20:00] donnigunawan commented on #116
any news about this? I would like to upgrage to version 5.2 too. Thank you

[2016-02-03 09:33] andreiculda commented on #116
@donnigunawan you can update laravel to version 5.2, you just need to tweek [Role.php](https://github.com/kodeine/laravel-acl/blob/1.0/src/Kodeine/Acl/Models/Eloquent/Role.php) as I said above and you application should work like normal, until this issue is fixed.

[2016-02-03 17:17] #116 closed

[2016-02-03 19:31] andreiculda commented on #116
Thanks @kodeine and @uzegonemad for the fix. Works great after composer update.

[2016-02-04 09:23] andreiculda commented on #86
@kodeine I tried with the latest version and role blade extension still does not work.
I have this in my view and it does not work:

[code]

but if I use permission template it works:

[code]
My guess it's that it has something to do with the `is()` function from [HasRole.php](https://github.com/kodeine/laravel-acl/blob/1.0/src/Kodeine/Acl/Traits/HasRole.php#L61).
I have this controller in which t

[2016-02-04 16:08] #114 closed

[2016-02-04 16:11] kodeine commented on #86
@andreiculda

can you try this function on laravel 5.0

[code]

[2016-02-05 10:06] andreiculda commented on #86
Hi @kodeine. I currently do not have an open project on Laravel 5.0. I will try make time to make a new app and test your function in the upcoming days.

[2016-02-05 14:39] christianbartels commented on #112
I think @jaketoolson wants to be able to do something like this:
`Auth::user()->canUpdatePost(2)`
where "2" is the ID of a Post model. I don't think that's something you can currently achieve with laravel-acl (though it would be a great enhancement).

[2016-02-06 00:09] lokimo opened #120 "in_array() throws error in laravel 5.2"
I got an

error from

[code]

[(here)](https://github.com/kodeine/laravel-acl/blob/75f23745b65d76d9974ab2a1adabe2b337ec5618/src/Kodeine/Acl/Traits/HasRole.php#L83) although [Illuminate\Support\Collection](https://laravel.com/api/5.2/Illuminate/Support/Collection.html) implements ArrayAccess it dosen't seem to work.

When I do

[code]

it's fine. Seems like passing an ArrayAccess implementing objec

[2016-02-06 01:52] kodeine commented on #115
@productiveparks
please run composer update, i've pushed changes to fix blade template compatibility.

[2016-02-06 01:52] #115 closed

[2016-02-06 01:58] productiveparks commented on #115
Thank you!

On Fri, Feb 5, 2016 at 7:52 PM, Kodeine <notifications@github.com> wrote:

--
Michael Kent Smith
http://www.michaelkentsmith.com

[2016-02-06 01:59] kodeine commented on #86
@andreiculda
i've pushed some changes for blade, it will support 5.0 and on wards now.

[2016-02-06 02:07] #78 closed

[2016-02-06 02:10] #77 closed

[2016-02-06 12:11] andreiculda commented on #86
@kodeine I saw your changes but unfortunately (at least for me) this does not work (I made composer udate):

[code]

... and neither does this:

[code]
This works:
[code]

It's like my user doesn't have admin role assigned, but it does. Can anyone elso test it as well?

[2016-02-06 16:29] kodeine commented on #86
@andreiculda
hmm its weird, works fine for me. Can you please paste me your model and code so i can take a look and replicate the code locally and try.

[2016-02-06 17:12] andreiculda commented on #86
Ok so here is my User model:

[code]

An the controler:

[code]

and the blade usage:

[code]

Please let me know if you need something else ...

[2016-02-06 21:23] lycha commented on #88
Hey guys, have you managed to solve this issue? I'm trying to implement acl in my Lumen app.

[2016-02-06 21:30] kodeine commented on #88
@lycha
i'll be working on it after some fixes. so its in todo but it will happen sooner now :)

[2016-02-06 23:13] lycha commented on #88
@kodeine thanks for information!

[2016-02-08 10:53] dead23angel opened #122 "Error $roleAdmin->assignPermission(Permission::all());"
Using
[code]
we get an error
[code]
the problem in this code
[code]
because in the variable $permission = Illuminate\Database\Eloquent\Collection
сonsequently $permission instanceof $model = FALSE

Sory my sad english

[2016-02-08 11:12] arcanedev-maroc opened #123 "[Suggestion] Adding tests (code coverage + code quality)"
Adding tests for:
  - Multiple PHP environemets.
  - Multiple Laravel versions [5.0, 5.1, 5.2, 5.3] (you can use https://github.com/orchestral/testbench package).
  - Code coverage and quality with Scrutinizer.

[2016-02-08 11:20] arcanedev-maroc commented on #122
Hi @dead23angel,

The `assignPermission($permission)` method accepts only one permssion, not a permissions collection.

But honestly, i'm a little bit confused about this method (judging by its name). Try the `syncPermissions($permissions)` method and see if it fix your issue.

[2016-02-08 11:27] dead23angel commented on #122
Hi @arcanedev-maroc

Namely, it can take only one value, and in the documents written by example, and there is just a collection of transfer in this method. I did so at
[code]

[2016-02-09 07:20] dead23angel commented on #122
I'm sorry it turned out I had to install the version 0.1.3 this bug and it was updated to 1.0@dev problems disappeared

[2016-02-09 07:20] #122 closed

[2016-02-12 19:44] dlnsk commented on #112
I was describe and implement this feature for Entrust
https://github.com/Zizaco/entrust/issues/298
but it hasn't permission inheritance, so don't like it much...

[2016-02-13 15:57] boynet commented on #112
@dlnsk you can easily do editOwnPost right now
[code]

see this https://github.com/kodeine/laravel-acl/issues/90#issuecomment-170644536

[2016-02-13 18:39] dlnsk commented on #112
@boynet thanks, I know. But it's not the same. `Gate` provide aplication level of abilities. It doesn't allow revoke ability from user and because it's not user level abilities we can't talk about inheritance.
My opinion is that even small project needs roles, callbacks for abilities and inheritance but using database as storage is too hard for small projects, so I think that different providers w

[2016-02-13 19:18] boynet commented on #112
@dlnsk sorry I couldn't really get what you trying to do I leave it to other, just saying that with laravel-acl + laravel gate you can do anything including revoke ability from users

[2016-02-15 06:30] mbsvpn opened #124 "[Question] Two RBAC systems for frontend users and backend users"
Is it possible to have two RBAC systems for frontend users and backend admins in Laravel 5.2.

Can I do this;
================
**For users**
Model ---> Admin
users table ---> users
rolls table ---> rolls
permissions table ---> permissions
pivot tables ---> permission_roll, permission_user, roll_user
================

================
**For admins**
Model ---> Admin
admins table ---> admins
rolls t

[2016-02-20 18:30] Hobstweedl commented on #78
I just ran into this issue with a fresh install of Laravel 5.2.20 although the error is slightly different.

**BadMethodCallException in Builder.php line 2161:
Call to undefined method Illuminate\Database\Query\Builder::is()**

Happens when I add the line `$check = Auth::user()->is('admin');` to my controller.

[2016-02-20 18:33] kodeine commented on #78
@Hobstweedl
can you try ->isAdmin and see if its the same?

[2016-02-20 18:39] Hobstweedl commented on #78
isAdmin() works just fine. I'm also finding the same issue is coming up with assignRole

**BadMethodCallException in Builder.php line 2161:
Call to undefined method Illuminate\Database\Query\Builder::assignRole()**

[code]

[2016-02-20 18:40] kodeine commented on #78
@Hobstweedl
i dont have l5.2 installed locally so cant test right away, if you find any fix meanwhile please do let me know or send a pr.

[2016-02-22 03:30] jaketoolson commented on #112
sorry, I wasn't receiving notifications even though I'm subscribed to them.

Anyway, @kodeine , as @christianbartels said, having the ability to create permissions on entities would allow for a fine level of granularity.

Currently, being able to create permissions for users and roles is great.  But said permissions are not specific enough.  I need to be able to grant permissions on a per user/rol

[2016-02-24 15:58] jvalentinei opened #125 "assignRole() does not work, but roles->attach() does"
I am attempting to set up laravel acl, and ran across an issue with assignRole().

I am running laravel 5.2 and acl 0.1.3

Here is unit test code to illustrate the issue:

`$roleAdmin = new Role();`
`$roleAdmin->name = 'Administrator';`
`$roleAdmin->slug = 'administrator';`
`$roleAdmin->description = 'manage administration privileges';`
`$roleAdmin->save();`

`$user = User::find(1);`

`$user->role

[2016-03-01 17:03] Lagg commented on #70
So why's this not being addressed? I hate to be an asshole here but it's pretty frustrating how poorly optimized this is. It was written without due respect to query redundancy and caching. It's by far the most query heavy part of what I'm working on, and yet only a small subset of pages actually use it.

[2016-03-05 21:02] schleumer opened #126 "I can't check user's permissions"
I'm using the following code:

[code]

It always return false when i check for permission.

[2016-03-05 21:08] schleumer commented on #126
Followed #125, and using `attach` solved my problem, but i think it's not the right way.

[2016-03-09 06:57] paragajency commented on #125
I am getting Call to undefined method Illuminate\Database\Query\Builder::assignPermission()

[2016-03-09 07:17] paragajency opened #127 "Error Call to undefined method Illuminate\Database\Query\Builder::assignPermission()"
Hi,
I am using laravel 5.2

the permissions,roles,permission_role,permission_user,role_user  tables are getting created in database. also
Role is getting added in roles table successfully and
user permission is getting added successfully to permissions table

$role = new Role();
$roleAdmin = $role->create([
            'name' => 'Administrator',
            'slug' => 'administrator',
            '

[2016-03-22 23:03] judgej commented on #90
The workaround to map the clashing method to a new method should at least be mentioned in the documentation IMO.

[2016-03-29 06:02] mybigman opened #128 "get roles by id"
Hi,

Are you able to add a method getRolesById() to return the role ids rather than slugs?

Thanks

[2016-04-02 11:57] Harrrrry commented on #66
Same error is for me when i update the composer.
I don't know the reason behind the error.

This is my composer
{
	"name": "laravel/laravel",
	"description": "The Laravel Framework.",
	"keywords": ["framework", "laravel"],
	"license": "MIT",
	"type": "project",
	"require": {
		"laravel/framework": "5.0.*",
		"illuminate/html": "5.*",
		"barryvdh/laravel-dompdf": "0.6.*",
		"tymon/jwt-auth": "0.5.*

[2016-04-02 12:55] jshah4517 commented on #66
Your composer file doesn't appear to contain kodeine, are you sure you are using this package? The problem might be elsewhere.

[2016-04-02 13:07] Harrrrry commented on #66
i am not using this package but my problem is quit similar so i just post the question, please help me

[2016-04-02 13:10] jshah4517 commented on #66
This issue is specifically for this package, you should post your problem on a laravel forum or their IRC.

[2016-04-02 13:11] Harrrrry commented on #66
ohk

[2016-04-02 13:13] kodeine commented on #66
@jshah4517 @Harrrrry

Please make sure you are using version 1.0

[2016-04-04 04:59] Harrrrry commented on #66
@kodeine 1.0 for what, please specify.

[2016-04-04 10:25] Harrrrry commented on #66
update "zizaco/entrust": "dev-laravel-5" to "zizaco/entrust": "1.4.1"

Solve my problem.

[2016-04-20 12:53] raulghm commented on #66
The same of @Harrrrry my problem was "zizaco/entrust ^^!

[2016-04-20 14:47] viaro-ari opened #130 "Share routes between roles"
How can I do to have a route and allow it to be available for different user roles?

This is my current code
        Route::group(array('middleware' => 'acl' , 'is' => 'superadmin' ), function()

I want to do something like this
        Route::group(array('middleware' => 'acl' , 'is' => 'superadmin|administrator' ), function()

[2016-04-20 17:34] kodeine commented on #130
@viaro-ari yes that logic will work, you can try it :)

[2016-05-02 07:39] Anshdesire opened #131 "Interface 'AuthenticatableContract' not found"
Interface 'AuthenticatableContract' not found

[2016-05-10 23:53] hackerunet opened #133 "Newbie problem and User model configuration"
Hello there, I'm very new on laravel, and the thing is that I do not understand how can I configure the User model, following wiki I have this:
[code]
Do if I place the third use line inside my class as suggested in the wiki I get an error. so can you please be more specific?

[2016-05-13 15:27] #133 closed

[2016-05-13 17:56] hackerunet opened #134 "Laravel 5.2 migrate:reset error"
Hello I have a problem running migrations, when I first migrate, everything was normal, but when I tried to reset the migration it returns
[code]
So, I saw all classes are present in my project and folders but looks like kodeine doesn't found the migration classes at all...
Please help

[2016-05-13 18:17] kodeine commented on #134
@hackerunet hmm this is weird,
how can i redo what you did to get this error? i need to test at my end.

[2016-05-14 14:01] hackerunet commented on #134
just use it with rethinkdb driver.
I'm testing again from scratch, if I reproduce this error I'll update the issue.

[2016-05-14 14:37] sajin577 opened #135 "Different Providers not supported"
In case someone uses a provider other than default "user" provider in laravel, this package will not handle it.

While assigning the role, I got an error.

 Base table or view not found: 1146 Table 'vibrant_test.admin_role' doesn't exist (SQL: select `roles`.*, `admin_role`.`admin_id` as `pivot_admin_id`, `admin_role`.`role_id` as `pivot_role_id`, `admin_role`.`created_at` as `pivot_created_at`, `

[2016-05-15 04:53] sajin577 commented on #135
* Guard, not providers. I stand corrected.

[2016-05-28 18:09] nico2am opened #136 "Role for anonymous user"
Hi,

It's possible to assign/create a role for anonymous user?

Thanks.

[2016-06-15 16:08] AyodejiO opened #137 "can() not working"
Hello,
can("action.item") not working in laravel ^5.2.
your help is much needed.

Thank you.

[2016-06-17 09:37] gkimpson opened #138 "Fatal Error in User.php (line 8)"
I've added all of the Kodeine Laravel ACL files and am trying to create a user in the users table with the generated form Laravel creates when you do php make:auth in Laravel 5.2

I am always getting the error - can someone explain what I have done wrong?

https://gist.github.com/gkimpson/9407d8e404143b1f40edb3b8821290d2

FatalErrorException in User.php line 8:
Class 'App\Model' not found

[2016-06-21 23:14] nightvis commented on #137
+1

[2016-06-22 12:00] boynet commented on #137
see this https://github.com/kodeine/laravel-acl/issues/90

[2016-06-22 12:07] nightvis commented on #137
Problem solved :)

My wrong code:
... 'middleware' => ['acl'], ...

...and the correct code:
... 'middleware' => ['auth', 'acl'], ...

Many thx :)

[2016-06-22 12:08] AyodejiO commented on #137
this worked? @nightvis

[2016-06-23 09:19] AyodejiO commented on #105
can it work this way?
Route::resource('customers','CustomerController', ['protect_alias'  => 'perm_alias',
'protect_methods' => [
        'create' => ['someMethod', 'anotherMethod'],
        'read'   => ['readMethod', 'showMethod'],
        'view'   => ['readMethod', 'showMethod'], // its same as read.
        'update' => ['editMethod'],
        'delete' => ['destroyMethod']
]]);

I tried it, but

[2016-06-25 09:38] anarcist69 commented on #138
@gkimpson You need to add `use Illuminate\Database\Eloquent\Model;`

To the top of your User.php file

[2016-06-27 14:05] Seroczynski opened #140 "Installation guide not up-to-date with Laravel 5.2 User model?"
There seems to be an unattended issue in the [Installation guide](https://github.com/kodeine/laravel-acl/wiki/Installation). Both these threads make mention of the errors that are given when a clean Laravel project is being used:
- [Interface 'AuthenticatableContract' not found](https://github.com/kodeine/laravel-acl/issues/131)
- [Fatal Error in User.php (line 8)](https://github.com/kodeine/larav

[2016-06-28 08:16] boynet commented on #140
don't change the extended model or anything else in there just add the HasRole trait
[code]

[2016-06-28 08:18] Seroczynski commented on #140
Thanks a ton! This seems to have fixed any error messages I previously had.

[2016-06-28 08:18] #140 closed

[2016-06-28 12:33] udemethegrtman commented on #140
@boynet you have really solved the headache i have been having for weeks.

[2016-06-28 13:14] udemethegrtman commented on #80
@tritontek  in your route add the slash to the front of the class path, like this `\Kodeine\Acl\Middleware\HasPermission::class`  instead of  "Kodeine\Acl\Middleware\HasPermission" it worked for me, you try it.

[2016-06-29 09:35] udemethegrtman opened #141 "Understanding and implementing the kodiene/laravel-acl package"
Hi @everyone i have searched for the roles and permission for authentifying both users and admin in my app, with a lot tested failed due to to not supporting laravel 5.2 i ended up with this (laravel-acl) so far i have not had to hit my head on the wall for this one, that is by the way.

I have installed the package, and tweaked the config to support 5.2 based on issues other users raised about th

[2016-06-30 08:01] jrran90 commented on #78
Hello, I've got same problem with @Hobstweedl regarding assignRole function.
Here's the error

FatalErrorException in Builder.php line 1392:
Call to a member function compileSelect() on a non-object

Hoping for a response, thanks :)

[2016-07-04 16:27] honjoya opened #142 "Please create a new tag"
All PHPUnit test fail when i used the Trait HasRole, the method __call is wrong in the last tag, and toArray is required in getRoles.... both fixed in the master

[2016-07-04 16:27] honjoya opened #143 "Please create a new tag"
All PHPUnit test fail when i used the Trait HasRole, the method __call is wrong in the last tag, and toArray is required in getRoles.... both fixed in the master

[2016-07-31 22:22] djoks opened #144 "Call to undefined method Illuminate\\Database\\Query\\Builder::detach()"
I am trying to remove all roles assigned to a user before deleting that user but this error keeps popping up.  This is what I did:

    public function destroy($id)
    {
        try {
            // Finding user
            $user = User::find($id);

            // Finding profile
            $profile = Profile::where('user_id', $user->id)->first();

            // Revoking user's roles

[2016-08-01 09:50] peetersdiet opened #145 "artisan migrate fails on mysql due to BigintUserKeys migration"
Issue
---

When performing _artisan migrate_, migration fails due to the BigintUserKeys migration introduced with PR #109 .

The [migration](https://github.com/kodeine/laravel-acl/blob/1.0/src/migrations/2015_11_30_232041_bigint_user_keys.php) wants to change the user_id field in the role_user table to bigint. As stated in the Exception below, the user_id column of the role_user table cannot be ch

[2016-08-08 01:51] frightnight opened #146 "migration error; laravel 5.2"
"laravel/framework": "5.2.*"
"kodeine/laravel-acl": "~1.0@dev"

php artisan migrate fails;

[RuntimeException]
  Changing columns for table "role_user" requires Doctrine DBAL; install "doctrine/dbal".

[2016-08-12 14:41] xuwenzhi commented on #146
Just do this...

[code]

[2016-08-12 15:50] nelson6e65 opened #147 "There is a key like 'is_not' for routes? (inverse of 'is')"
There is a way to "allow from all, except this"?

I mean, without the need of adding all else roles to 'is' key.

[2016-08-17 22:04] securit opened #148 "Check both role and permissions"
Is it possible in the blade to check both the users Roles they belong to and their permissions? Or should I simply be checking their permissions and will those flow from the roles a user belongs to?

[2016-08-24 07:14] Doublemedia opened #149 "Laravel 5.3 update"
Hi Kodeine,

I was wondering if your are thinking about updating the class so it will work with Laravel 5.3?
There is an issue with the Kodeine\Acl\Traits\HasRole::is(). The error I get is:

Declaration of Kodeine\Acl\Traits\HasRole::is() should be compatible with Illuminate\Database\Eloquent\Model::is(Illuminate\Database\Eloquent\Model $model)

The problem is that Laravel 5.3 also has an is funct

[2016-08-24 08:25] Saarik commented on #149
+1

[2016-08-26 02:21] Yang-Joe opened #150 "Lumen support"
I want to use this package in the lumen5.2 .

But right now I get:

[Symfony\Component\Debug\Exception\FatalErrorException]
  Undefined class constant 'VERSION'

Thanks.

[2016-08-28 05:29] omidonix commented on #149
+1

[2016-08-28 05:49] kodeine commented on #149
@Doublemedia @omidonix @Saarik
#139 did you try this solution?

[2016-08-28 06:28] omidonix commented on #149
I am using the acl latest version
But I have problem

[2016-08-28 08:40] omidonix commented on #149
kodeine, what is a problem?
What is the solution?

[2016-08-28 10:54] omidonix commented on #149
This solution

In HasRole:

[code]

[code]
Change Name "is" to "isRole" Because In Illuminate\Database\Eloquent Exist Is Method

[code]

[2016-09-01 11:09] judgej opened #151 "Cannot sync empty list of roles to user (L5.1)"
This is the error:

[code]

The title is probably not clear. I'll explain.

My admin form for a user lists the available roles as checkboxes, which is submitted to the user edit controller as an array `role_ids[]`. I then sync that array:

[code]

if no roles are selected then `$role_ids` will be an empty array. It is when this array is empty - i.e. when no roles are selected for the user - that I

[2016-09-01 11:11] judgej commented on #151
I haven't looked into this yet, but I am guessing the code is assuming that a string (`"role1, role2"`) has been passed in if it gets an empty string.

[2016-09-01 11:33] judgej commented on #151
I think the problem is here: https://github.com/kodeine/laravel-acl/blob/8a1ca6b9c7146bb0f158cc3d19170bfb2e3e7a8e/src/Kodeine/Acl/Helper/Helper.php#L89

[code]

I would recommend putting some braces to be more explicit with the tertiary operator. Or even better, write it all out long-hand. As it is, I can't tell what you are *trying* to do here, so IMO it needs a "less clever" code construct. I su

[2016-09-01 11:40] judgej commented on #128
Try this:

    array_keys($your_model->getRoles())

This works for me in the `User` model:

[code]

In my admin forms I can user `$user->role_ids` to bind to checkboxes to turn roles on and off.

[2016-09-07 17:07] peetersdiet commented on #149
@kodeine: I created #152 to enable support for Laravel 5.3 . More info there.

[2016-09-16 16:02] #123 closed

[2016-09-19 19:48] kodeine commented on #148
@securit you can definately check permissions, check this [wiki post](https://github.com/kodeine/laravel-acl/wiki/Blade-Extensions)

[2016-09-19 19:49] kodeine commented on #147
@nelson6e65 right now its not possible but easier to add. I'll add this feature in next version.

[2016-09-19 19:50] #146 closed

[2016-09-19 19:51] #138 closed

[2016-09-19 19:52] kodeine commented on #135
@sajin577 were you able to fix this issue? you can propose a PR?

[2016-09-19 19:53] kodeine commented on #136
@nico2am this is not supported at the moment, can you please explain more what kind of permission check you want to give to anon user?

[2016-09-19 19:53] #130 closed

[2016-09-19 20:01] kodeine commented on #151
@judgej i've fixed the braces in branch as well.

[2016-09-19 20:02] #151 closed

[2016-09-19 20:02] #142 closed

[2016-09-20 15:33] kodeine commented on #149
thanks to @peetersdiet, laravel 5.3 support has been added.

[2016-10-05 22:30] tylerwiegand opened #156 "Feature Request: Route Model Binding with Slugs"
In order to obfuscate the ID used in the database, I, along with others I'm sure, would prefer to use the included "slug" tag with the built in implicit route/model binding. I added this into the "Role" model included and it worked like a charm, just wanted this to either be standard or be known.

[code]

Then in the controller, you can just `public function edit(Role $role)` without much extra ef

[2016-10-07 08:51] sonaliraut29 opened #157 "Wile checking permission what exactly need to pass permission name or permission slug for can method."
Here is my code.

$role = Role::where('id', '=', $roleId)->get()->first();
 if(!$role->can('??')) { // here what should we pass permission name or slug
   // do something
}

[2016-10-10 17:02] tylerwiegand opened #158 "protect_alias slug resource route protection error"
So I went about protecting my user routes with the protect_alias feature. Here are my test circumstances:

Database has:
A user (ID: 1),
A role (ID: 1) called "admin",
a permission assigned to it (`name: users, slug: {"create":true, "edit":true)`)

Routes file has:
[code]

And when I went to "/users", instead of telling me that I wasn't allowed, it gave me this:
[code]

So naturally, I went a-look

[2016-10-12 12:59] ssssteve commented on #158
In common with many similar closure functions in Laravel 5.3, in `array_where` has changed the paramneter order from `($key, $value)` to `($value, $key)`:

[code]
[https://laravel.com/docs/5.3/helpers#method-array-where](url)

This appears to be the only appearance of this in this package.

[2016-10-12 19:02] tylerwiegand commented on #158
Whew! Glad you knew that. Alright, so ...seems like a simple fix ...! lol

[2016-10-16 21:08] amandiobm opened #159 "Permission with module"
It's possible to add a column named `module` into the `permission` table?

Is not an issue in your package but I've not found where I could make that question.

[2016-10-17 06:32] parvathis opened #160 "Laravel 5.3 upgrade breaks core feature"
Hello,

I recently tried to upgrade my application from Laravel 5.2 to 5.3 and I am having issues with the acl middleware ever since. I could track the issue to a Laravel helper function update in 5.3.

Kodeine\Acl\Middleware\HasPermission.php uses array_where() helper function to determine the crud that we're trying to protect. In 5.3, $value and $key variables have been reversed and this breaks

[2016-10-17 07:07] kodeine commented on #160
@parvathis can you please send a PR?

[2016-10-17 08:02] parvathis commented on #160
@kodeine Done.

[2016-10-24 16:41] PSNAppz opened #162 "Requesting video tutorials"
Laravel-acl is one of the best ACL for Laravel as far as I know. As a beginner I recommend if some one could post a video tutorial on youtube covering all the basic to advanced features of this project it would be very helpful. I have been searching for a good tutorial on this acl but unfortunately I couldn't find any.

Regards,
_**PSN**_

[2016-10-24 21:48] mbsmi opened #163 "Displaying Role Name in Blade"
I am trying to print out the role slug that my user is associated with in blade. How can I accomplish this?

[2016-11-02 13:55] #159 closed

[2016-11-02 14:28] amandiobm opened #165 "Role has permission"
How I check if a Role has a permission on it?

[2016-11-05 06:47] emtized commented on #46
Hi
first of all thanks for your awesome Middleware
I have Same problem with your Package in my laravel Application

What Can i do ?

or is it possible to create page and redirect user to it ?

[2016-11-06 09:06] schleumer commented on #166
Welp, not sure if this could be a PHP issue too, i'm using PHP 7.1.0 RC5. That change is not documented(PHP and it's way to document things not documenting).

[2016-11-06 09:51] schleumer opened #166 "HasRole won't work on PHP 7.1"
This piece of code will not work on PHP 7.1 and Laravel 5.3:

[code]
hasRole($slug, $operator = NULL) should be compatible with Illuminate\Database\Eloquent\Model::is(Illuminate\Database\Eloquent\Model $model)
[code]

[2016-11-06 09:58] kodeine commented on #166
hmm i have to test it locally, can

[2016-11-08 11:01] polearnik opened #167 "question about start develop"
I install this package and now I want to create new role admin but i dont know where to store code MAy be DatabaseSeeder is good place but in future I want to add role moderator.  So my question is: "Where to store  code for  creating new roles"

[2016-11-13 00:40] datune commented on #162
As an expert I would recommend you start by reading the excellent wiki from start to finish. If you do not understand this simple package from the manual, I really doubt a video tutorial would make much of a difference.

[2016-11-13 05:35] #162 closed

[2016-11-15 17:39] QuentinPetel opened #168 "Permission inheritance issue when working with roles."
I have the following roles on a project :
`$roles = [`

[2016-11-15 18:03] QuentinPetel commented on #165
See the wiki :
https://github.com/kodeine/laravel-acl/wiki/Validate-Permissions-and-Roles

## Validate Permissions

Permissions can be validated by calling can method.

### Validate based on Role.

Method can() supports comma for AND and pipe as OR operator. Or you can pass operator as a second param.
`$admin = Role::first(); // administrator`
`$admin->can('view.user');`
`$admin->canViewUser();  /

[2016-11-16 02:52] t0n1zz opened #170 "slug in permission function"
hi, i use entrust before to control acl in laravel when my project is still laravel 4, and now with laravel 5.2 entrust no longer work, especialy in route filtering...

and then i find this package and trying to use it.. but still got a lot of question, so to make it more simple i will explain my use case when i use entrust:
first i want to make a permission for create, view, update and delete for

[2016-11-17 19:08] IlyaSavich opened #171 "Cache error"
Good day. I try yo update roles for user. Updating works well, but after updating I have a problem that method `getRoles()` returns previous state. I try to change `'cacheMinutes' => 1,` to `0` or `null`, but got the same result. Can you help me?

[2016-11-17 22:51] felorodri commented on #171
This is my first time using this package and I just found a very similar issue using the assignRole method. I had to customize and override some models and traits to fit my needs, but I can't figure out what's happening here. In summary I am using something like this in my controller (I am just playing around with this package):

[code]
I'm using L5.3 and, as I said, I did some changes, so I can u

[2016-11-18 03:04] t0n1zz opened #172 "handling protected route"
so if i have user that are not authorized to view some get route then i will throw HttpException and showing message You are not authorized to access this resource.

but if i want to costumize the way user being directed because he tried to access unauthorized view? how to point it into some php page that i created for telling user that he/she don't have access to go to this page?

[2016-11-18 07:39] IlyaSavich commented on #171
Method `hasRole()` checks over `slug`, but not over `id`. You need pass in this method `slug` or override it

[2016-11-18 13:37] felorodri commented on #171
Sorry, I am looking by `slug` not by id, I just mistyped for this example. My previous comment was updated.

[2016-11-18 14:18] felorodri commented on #170
I have a very similar use case in my application. I suggest you to keep all your article permissions as you alredy have it, in one big group but all of them set to false. You can create a "child" group permission for your users role using [Inheritance](https://github.com/kodeine/laravel-acl/wiki/Permissions-Inheritance), setting to true all of those permissions your users need. You can then asign

[2016-11-19 01:30] t0n1zz commented on #170
well i already find my a way to make it works like what i want it to be... you can see the solution i come up with in [stackoverflow](http://stackoverflow.com/questions/40625278/laravel-acl-kodeine-permission-slug-function/40688312#40688312)

[2016-11-20 18:52] intositeme commented on #88
I'm getting this as well. Lumen 5.3.

[2016-11-21 13:52] felorodri commented on #171
Ok, I am here to clarify that my problem is not a package issue at all. I found that this is an expected behavior from the laravel Auth facade and its guard (/Illuminate/Auth/Guard.php). The Auth::user() and its relations are locked under the same request. Unless you use Auth::user()->fresh() to fetch your user data you not gonna see any change made.

[2016-11-22 06:43] kodeine commented on #171
@felorodri @IlyaSavich
is this related to #169?

[2016-11-22 06:44] kodeine commented on #167
@polearnik i think database seeder is a good place to put the default roles.

[2016-11-22 06:45] #149 closed

[2016-11-22 06:46] kodeine commented on #148
reopen this if you need help.

[2016-11-22 06:46] #148 closed

[2016-11-22 06:47] kodeine commented on #157
@sonaliraut29 you can pass either id, slug or the object itself. I usually prefer passing the whole object.

you may open this if you need further help.

[2016-11-22 06:47] #157 closed

[2016-11-25 07:22] IlyaSavich commented on #171
Yes, I think

[2016-11-25 16:33] QuentinPetel commented on #172
Using a redirection : https://laravel.com/docs/5.3/responses#redirects

[2016-11-25 16:36] QuentinPetel commented on #171
My commits have not been merged yet. You could use my fork : https://github.com/QuentinPetel/laravel-acl

ex with composer :     "repositories": [
        {
            "type": "vcs",
            "url": "https://github.com/QuentinPetel/laravel-acl"
        }
    ],

[2016-11-28 10:39] IlyaSavich commented on #171
ok, thanks )

2016-11-25 19:36 GMT+03:00 Quentin Pétel <notifications@github.com>:

[2016-11-29 10:14] omidahn opened #174 "Fatal error raised when xdebug enabled"
Hi, I'm trying to generate code coverage report, so i have xdebug enabled which causes this ERROR :

`PHP Fatal error:  Uncaught Error: Undefined class constant 'VERSION' in /home/vagrant/Code/my-project/vendor/kodeine/laravel-acl/src/Kodeine/Acl/Traits/HasRole.php:270`

laravel 5.3.24 - PHP : 7.0.12 - PHPUnit 5.6.7

it refers to this line :
`if (version_compare($laravel::VERSION, '5.3', '<')) {`

[2016-11-29 17:55] mcblum opened #175 "Duplicate permissions created when assigning to user."
Hi!

Thank you for this package. Here's my code to create the permission:

[code]

[code]

Yet every time I do this, a new permission is created. Am I doing something wrong?

[2016-11-29 17:56] mcblum commented on #175
I've also tried `$user->addPermission(1)` using its ID and `$user->addPermission('access.support', true)`

[2016-11-29 18:03] mcblum commented on #175
Never mind! I guess I needed `assignPermission()`. Not sure how I missed that in the docs...

[2016-11-30 07:55] AlbertMarashi opened #176 "[Suggestion] Role Inheritance"
I've been trying to modify your package to try and implement a Role inheritance feature but I've had a bit of trouble, I lack advanced PHP skills.

Eg:
[code]

I'm sure a lot of people would appreciate this feature, rather than having to apply the same permissions to every higher level of a role. Can we please get this?

[2016-11-30 13:22] IlyaSavich opened #177 "HasPermission middleware"
Can you help me? I'm debugging around 2 hour your middleware, don't understanding why you provide an opportunity to override in config
[code]
but don't provide to override
[code]
I have a situation, when sending ajax request and the package don't permits me do this, Says "You are not authorized to access this resource.". I'm trying to add to route group `'protect_methods' => ['view' => ['index', '

[2016-12-01 08:19] omidahn commented on #174
appears to be my own testcase implementation problem

[2016-12-01 08:19] #174 closed

[2016-12-06 12:41] eleftrik opened #179 "Permissions slug"
I can't fully understand permissions slug.
Let's pretend I've got to manage a single permission, for example  '_create users_', which I could attach to a role or to a single user.
I would expect to have, as slug, something like _create.users_ (like `romanbican/roles` does: https://github.com/romanbican/roles).
Instead, I have a single permission, e. g. `users`, with its ID, with a slug containing

[2016-12-06 12:46] eleftrik commented on #107
I totally agree with you, @amin101. I didn't notice this issue (because already closed) so I opened another one ([#179](https://github.com/kodeine/laravel-acl/issues/179)).
Do you still use this package?

[2016-12-07 22:26] konovalov-nk opened #180 "How to run Unit Tests?"
I'm getting this error:

`PHP Fatal error:  Class 'Kodeine\Acl\Tests\TestCase' not found`

How I've tried to run it:

[code]
Thank you for your time making this package!

[2016-12-07 23:58] konovalov-nk commented on #179
@eleftrik
Here is how I do that.

[code]

We have three roles for different purposes. Then we have created two permission sets for users and posts. That way we can inherit them and assign these inherited permissions to certain roles. In my opinion, that allows you to reuse permissions and have much less database queries because slug is just a simple string that could be cached easily. Of course, y

[2016-12-08 00:17] konovalov-nk opened #181 "[Suggestion] Ability to assign roles to user and/or model entity/id"
Basically, I've already implemented the feature, [see this fork](https://github.com/konovalov-nk/laravel-acl).

Here how it works:

[code]

Should I clean up my code a little bit and make a pull request?

[2016-12-08 00:23] kodeine commented on #181
@konovalov-nk sure

[2016-12-08 00:26] kodeine commented on #177
@IlyaSavich please refer to this [wiki page](https://github.com/kodeine/laravel-acl/wiki/Protect-Routes)

[2016-12-08 00:27] kodeine commented on #176
@MrMashy please refer to this [wiki page](https://github.com/kodeine/laravel-acl/wiki/Permissions-Inheritance)

[2016-12-08 00:28] kodeine commented on #175
@mcblum let me know if you still face any problems, you may reopen this.

[2016-12-08 00:28] #175 closed

[2016-12-08 00:28] kodeine commented on #172
You may reopen this if you still need help on this.

[2016-12-08 00:28] #172 closed

[2016-12-08 00:37] #167 closed

[2016-12-08 00:38] #165 closed

[2016-12-08 00:38] #160 closed

[2016-12-08 00:39] kodeine commented on #156
@tylerwiegand can you make a PR for this?

[2016-12-08 00:43] konovalov-nk commented on #181
@kodeine ok, thanks. I've also fixed some issues as well.

**Permission slugs.**

- First, it should give a meaningful error when the user uses too many values for 'slug' parameter. It is a simple VARCHAR string and I've encountered a database error when tried to assign too many permission rules to single permission.
- I've increased slug size to 1024 characters (MySQL limit is 3072, so that would

[2016-12-08 00:47] kodeine commented on #181
@konovalov-nk
sounds good, please post the PR, also for `slug size to 1024 characters` we can mention in the wiki as well.

[2016-12-08 01:03] konovalov-nk commented on #181
@kodeine
There is something I'm not sure about, though. I have modified `assignRole()` and `hasRole()` methods, but haven't touched the `can()` method and the code is actually breaking DRY principle because I didn't have enough time to implement it in the right way, so I've added `able()` method just to make sure I'm not breaking anything. Some features like syncRoles are not working at all with m

[2016-12-08 01:06] kodeine commented on #181
@konovalov-nk please make a proper PR when you have time :) no rush.
You can submit the PR's which you think are good enough.

[2016-12-08 01:09] konovalov-nk commented on #181
@kodeine Sure, thank you for help!

[2016-12-08 03:42] t0n1zz commented on #172
i am sorry, for responding answer right now, i just got busy these few days...
hmm can you give me some example please?

[2016-12-08 17:30] QuentinPetel commented on #172
The 'can' throw an HTTPException with abort(401, 'You are not authorized to access this resource.'); if user has insufficient permissions.

I think that you can intercept this exception in the ExceptionHandler (App/Exceptions/Handler). I haven't test that but in the render method, you could do something like :

    public function render($request, Exception $e)
    {
        if ($e->getMessage() =

[2016-12-09 07:02] IlyaSavich commented on #177
The main problem is that when the method that I defined was not found in `crud => ['resources' => [//]]` then HasPermission seeks through `restful`, but I don't need that. I tried all the options, but the result remained the same

[2016-12-12 02:55] konovalov-nk commented on #180
Answering my own question.

    # composer install --dev
    # ./vendor/phpunit/phpunit/phpunit tests/

[2016-12-12 03:08] konovalov-nk commented on #181
@kodeine I have one more question.
This project uses semantic versioning.
I've made breaking changes to API. For example:

From:

`public function can($permission, $operator = null, $mergePermissions = [])`

To:

`public function can($permission, $model = '', $reference_id = 0, $operator = null, $mergePermissions = [])`

Possible outcomes:

1. Bump version to `2.0`?
2. Add separate method `able()`

[2016-12-14 03:40] konovalov-nk commented on #181
@kodeine I've decided to make 3rd outcome since there are a lot of things changed. See pull request.

[2016-12-15 11:26] profile-media opened #187 "Custom primary key in 'users' tabele error"
If you change your primary key on users table from 'id' to a custom one like 'user_id' you get wrong user roles. The cacheentry for user roles will be overwritten and a user is able to access resources he's not allowed to.

# How to fix

Change:
[code]

To:
[code]

The bug is in line 40 of HasRole.php file

[2016-12-15 11:29] profile-media commented on #187
Rel #171

[2016-12-21 18:28] lsobral opened #189 "Roles for companies too"
Is it possible to use with other tables besides the User table? Ex. I have a Companies table that I would like to have roles too. I have User and Companies with roles. Thanks

[2016-12-22 08:23] konovalov-nk commented on #189
@lsobral Probably you can solve it by creating a user named as a company and assign roles to that user. Add columns (`type='person,company,etc'`, `reference_id='0,$company_id,etc'`) to the user table indicating if the user is the real person or company/entity.

[2016-12-22 10:07] lsobral commented on #189
Thanks @konovalov-nk for your tip. I have 2 tables.
User (laravel default) and Company tables.
I want to use roles for both.

[2016-12-22 11:03] konovalov-nk commented on #189
@lsobral
This is impossible at the moment without modifying the source code. `role_user` table holds the info for roles assigned to a single table. It could be either `company` or `user`, but not both.

To make it possible, `role_user` table must include `table` name column it would refer to, and `id`, `table` keys would be a composite primary key. In that case, `role_user` would be called `role_e

[2016-12-22 11:53] lsobral commented on #189
ok @konovalov-nk thanks a lot.

[2016-12-22 11:53] #189 closed

[2016-12-22 13:09] #180 closed

[2016-12-22 13:53] kushal555 opened #190 "Request for full document with controller and Models."
@kodeine I really want to thanks to your bottom of my heart for making such a great library. Really I have all things which I expect.
If you can explain its document little bit more then it really useful for all newbie Laravel Developers like me.
What I face problem know that how can I integrate into my controller and here any need to create a model for role and permission.
so Please also mention

[2016-12-22 14:29] konovalov-nk commented on #190
@kushal555
Here is my own basic setup for you using `laravel-acl` package.

I have added `use HasRole` trait to the `User` model class.
**Model: app/User.php**
[code]

Let's add two simple functions to check user permissions and role.
**Helper: app/Helpers/general.php**
[code]

To make it DRY and organized we will use middleware to filter out any requests from non-admin users for admin-only routes

[2016-12-26 10:04] kushal555 commented on #190
@kodeine  really thank you very much for your instant reply.
Actually, i am using with AngularJs, So little bit confuse that how can I track both sides and also using JWT token for tracking User.

[2016-12-29 11:29] kushal555 opened #191 "Assign Permission to role with slug"
@kodeine  Actually I am integrating your package.  It's good to use.
Now I am having a problem with assigning Permission to roles.
What I want: - ActuallyI have an admin panel in which I listed out all the permission with checkbox and user enter the role-name and checked permissions. actually, you provided the slug concept so I assuming them as child permissions So my listing view is like [this](h

[2016-12-29 11:30] #190 closed

[2017-01-02 10:51] vjandrea commented on #174
Same problem here with phpunit while trying to generate code coverage, I will propose a PR that checks if $laravel::VERSION exists.

[2017-01-03 09:41] vjandrea commented on #174
I created the pull request that did check if `$laravel::VERSION` was not null, but after upgrading PHP to 7.1 the error appeared again so i had to cancel it.
I tried then with the class method `$laravel->version()`, the result should be the same but i saw that for phpunit`$laravel` is not an instance of `\Illuminate\Foundation\Application`, but instead appears as an instance of `Illuminate\Contain

[2017-01-03 19:03] kodeine commented on #191
@kushal555
`$roleAdmin->assignPermission(->'servicelocation, currency ,privacyandpolicy.create' <--);`
maybe you forgot to adjust the quotes?

[2017-01-03 19:04] kodeine commented on #187
@profile-media can you please post a PR?

[2017-01-06 05:56] kushal555 commented on #191
@kodeine  Sorry, I didn't get you. can you please explain a little bit more.

[2017-01-06 14:19] janvp opened #196 "multiple permissions on same role, and with shared root permissions"
Following issue:
Permission A which is a parent permission.
Two children permissions B and C that inherit from A.

I have 2 roles, one that has permission B and one that has permission C.
But I also have a superadmin role that has automatically all the permissions, so it has permission A, B and C. I expected it would have all the permissions of B and C, but in fact it only had the permissions from

[2017-01-06 14:22] konovalov-nk commented on #191
@kushal555
1. Show your permissions. How are you creating permissions?
2. As far as I understand, assignPermission works with permission `name`, not permission `slug`s. Do you have permissions named `servicelocation`, `currency`, `privacyandpolicy.create` created prior to this assignment?
3. Have a look for commas, It could be the parser issue. See example:

[code]
vs
[code]

Make sure you underst

[2017-01-06 18:38] kushal555 commented on #191
Is there any way, So we can assign Permission name and slug both in array or passing comma separate
Actually i have ``privacyandpolicy`` is name of permission and `create` is the slug.
Is there any track log maintained in which we can know who is created the roles and permissions ?.

[2017-01-06 20:33] konovalov-nk commented on #191
@kushal555
**Let me show you an example**

One single permission (`name='blog'`) consists of many slug items (permission items):

- create (create blog posts)
- delete
- update
- view
- upload-images

In the code, all these slug items actually become JSON-encoded string like `slug=["create":true,"update":false,"upload-images":true, etc...]`

When you assign `permission` to the `role` or `user` you

[2017-01-07 05:18] kushal555 commented on #191
Thanks @konovalov-nk  for your replying.
Actually what I am trying to get, Just explain me the little bit:-
First, i am using the AngularJS client side.
I list down all permission with possibilities slug for my project and save all them with `false` status.
eg.
[code]
Now, I have an admin panel in which I give the menu add the role, in which Super admin can add the role and I also listed out the p

[2017-01-07 06:19] konovalov-nk commented on #191
@kushal555
So, basically, you need to implement an interface to create new roles with selected permission parameters, right?

Well, you probably need permission inheritance.
As for the problem assigning permission name and slugs, it's really easy to solve.

You have multiple permissions listed with slugs as a set of checkboxes. When you check `permission name` that would mean you want to inherit r

[2017-01-07 08:50] kushal555 commented on #191
Thank you so much @konovalov-nk  for your support and consideration.
Actually, i also need to add who add this role, Because I have many types of Admin users So need to maintain roles according to them. If user `A` create a role `test.a` then he also able to assign role `test.a` only not any other users.
So for that, i need to change in your table,
May I change it or find any other solution?

Once

[2017-01-07 08:57] konovalov-nk commented on #191
@kushal555
If you already have production data, then you must use [migrations](https://laravel.com/docs/5.3/migrations#creating-columns) to add a column named `user_id` to `roles` table.

If that's not the case, then you can just update [this file](https://github.com/kodeine/laravel-acl/blob/1.0/src/migrations/2015_02_07_172606_create_roles_table.php) and run

[code]

Then you can add your busines

[2017-01-07 09:16] kushal555 commented on #191
[code]

I just create the new migration for existing role and also override the model `fillable` array according to my requirement.

Is there way to get the new create permission with parent options
Like as above we discussed new role is

[code]
so it only return the allowed permissions. Actually i need the whole slugs which is belongs to user event they are associated or not.

[2017-01-09 15:35] affektde commented on #166
well

`Illuminate\Database\Eloquent\Model::is(Illuminate\Database\Eloquent\Model $model)`

method *is()* is reserved for Eloquent's implementation of it. I recommend to rename the method to something more explicit to avoid this conflict.

Maybe: *hasRole()*

[2017-01-11 16:01] Strift commented on #174
Hello, does anyone know how to fix this?

[2017-01-17 23:31] vjandrea commented on #174
Hello Strift, i am waiting for my [pull request](https://github.com/kodeine/laravel-acl/pull/195/) to be merged.

[2017-01-17 23:34] kodeine commented on #174
Give me an hour or two and ill merge those.

On Jan 17, 2017 5:31 PM, "Andrea Bergamasco" <notifications@github.com>
wrote:

[2017-01-18 20:29] kodeine commented on #174
@Strift @vjandrea its been merged. thanks.

[2017-01-22 10:54] haruncpi opened #197 "why addPermission() with array insert all slug true!"
[code]
This action insert all value as a true at first time but I am passing update=>false and delete=>false

[2017-01-22 11:12] konovalov-nk commented on #197
@haruncpi
Show output of `->getPermissions()` before and after `->addPermission()` statement.

[code]

[2017-01-22 11:29] haruncpi commented on #197
I am sending it with ajax request. The output is
before: Array[0]
after: student {create:true,read:true,update:true,delete:true}

But when I send the request 2nd time it works.

[2017-01-22 12:20] konovalov-nk commented on #197
@haruncpi
You can try to trace the execution to see why it doesn't work as intended for you. Here is the [method](https://github.com/kodeine/laravel-acl/blob/1.0/src/Kodeine/Acl/Traits/HasUserPermission.php#L15)
Just edit the `vendor/laravel-acl/src/Kodeine/Acl/Traits/HasUserPermission.php` file directly and then tell us what have you found.

[2017-01-23 04:26] haruncpi commented on #197
Is it working for you? I can't figure out what is happening behind the scene. It is easy for you to say, what is the reason about that. Please help @konovalov-nk

[2017-01-27 05:39] fulopattila122 opened #198 "CreateUsersTable Migration Conflicts With Laravel's Default"
The following migration file within this package: `2016_02_06_172606_create_users_table.php` conflicts with Laravel's default [CreateUsersTable](https://github.com/laravel/laravel/blob/master/database/migrations/2014_10_12_000000_create_users_table.php) migration.

When you publish Acl's migrations, run them and you try to rollback (any other) migration at a later time, artisan throws a duplicate

[2017-01-30 11:26] iWannabd opened #199 "fyigigiguiougbifyuvg"

[2017-01-30 11:26] #199 closed

[2017-02-02 23:15] #143 closed

[2017-02-11 11:07] rhadoo200 opened #200 "can function is already defined in laravel"
Hello,

The `can` function is already defined on the Authorizable trait. Could you rename your function to something else. Personally I prefer the laravel native authorization because I can implement my logic based on the user settings but I like your implementation of permission and roles. I've tried a custom implementation over your package but I need to extend a lot of classes to reach all the

[2017-02-11 16:51] konovalov-nk commented on #200
@rhadoo200 [have you tried this?](http://stackoverflow.com/a/11939306/2959158)

[2017-02-12 15:45] rhadoo200 commented on #200
Hi,
I know how to fix the problem. I thought it would be better to fix it in the package because it's a conflict with the framework itself. The main reason for using a package like this is to avoid extra configuration or local fixes.

[2017-02-14 00:05] bar2 opened #201 "Option to skip caching"
With the recent versions of this package caching is introduced. While its nice to have caching, for some projects its not so good to be forced to use caching. So an option on acl.php to disable caching completely would be awesome.

[2017-02-14 05:18] mybigman opened #202 "Roles Nested Groups"
Hi,

Having an issue with route group protection on nested groups.

[code]

If I remove "|fast.admin" from the ADMIN group I can access the admin page but with it there its permission denied. It doesn't matter what additional roles I add it's still permission denied.

Expected result is all three user roles can access the frontend but ONLY the two roles should access the backend.

Here's a dump of

[2017-02-14 06:26] mybigman commented on #202
After some digging appears to be a bug.

It needs to do one of two things -

"is" appears it needs to be a string in which the second "is" group needs to overwrite this.

or

[code]

hasDelimiterToArray -> needs to handle and loop through the "is" array.

Thanks

[2017-02-14 07:07] mybigman commented on #202
As a workaround I have done the following if anyone else needs until there's an official release.

Middleware\HasPermission.php - Line 172

from
[code]

to
[code]

[2017-02-22 06:40] poxao opened #203 "create permissions throw a QueryException in Connection.php"
I copy
[code]
to create permission but it no work well,thow
[code]

[2017-02-22 06:57] #203 closed

[2017-02-28 04:06] t0n1zz commented on #201
yes i too find some weird things happening in my user permission panel, and after reading your issue i do thing what i experienced is result of roles and permission cache...

so i have a panel that can enable me to set all of my user permission by checking checklist... and all code work fine but suddenly after i upgraded into laravel 5.3 it show some issue, that for example i make uncheck user per

[2017-02-28 04:38] kodeine commented on #201
@t0n1zz let me know if that works fine. thanks

[2017-02-28 04:40] kodeine commented on #202
@mybigman can you please post a PR for the fix? Thanks

[2017-02-28 04:42] kodeine commented on #200
@rhadoo200 propose a pr? :)

[2017-02-28 04:45] kodeine commented on #197
@haruncpi were you able to solve the issue?

[2017-02-28 04:55] t0n1zz commented on #201
@kodeine yes so far i tried. it works fine...

[2017-03-03 19:06] cdubbm opened #205 "Update for laravel 5.4?"
Do you have any plan to update this for 5.4?

[2017-03-03 19:40] kodeine commented on #205
@cdubbm yes, i'll get it updated, if you are planning to submit a PR, you're most welcome to do it.

[2017-03-03 19:42] cdubbm commented on #205
ok, i am working on it now, hopefully i will get it done today.

thanks

[2017-03-03 19:42] kodeine commented on #205
@cdubbm awesome, looking forward to it.

[2017-03-05 10:06] haruncpi commented on #197
I have solved it by making a function @kodeine

[code]

[2017-03-06 08:42] Scarwolf commented on #205
Any News maybe? @cdubbm @kodeine

Thanks in Advance.

[2017-03-07 05:25] vjandrea opened #206 "Laravel-ACL doesn't work Codeception"
Hello there,
i'm having trouble using Laravel-ACL's `getRoles()` in my Codeception tests. I can't figure out if it's a Laravel-ACL specific limit or it's related to the application handling in Codeception.
Here's the test i wrote:

[code]
And this is the result

[code]
I am using the `Laravel5` and `Asserts` helpers.

[2017-03-07 11:30] warrence commented on #205
I'm waiting for this too, so that I could upgrade to 5.4. Hope to hear the news soon. Thanks for the hard work by the way.

[2017-03-13 16:06] stygiansabyss opened #207 "Looking to make updates"
Hello.  I am looking at using this package as our primary acl and wanted to start helping with some things and checking if other updates were ok.

1. Update to 5.4.  I am currently seeing what all needs to be changed to get this working on 5.4 since there are a lot of method name conflicts with base laravel now.  I should have these done soon.

2. Configurable table names.  I personally prefer to

[2017-03-14 20:43] misiek303 commented on #201
That does not work for me

[2017-03-17 11:29] warrence commented on #205
Hi, any update for this?

[2017-03-24 23:32] kodeine commented on #205
its being worked on #208

[2017-03-24 23:32] kodeine commented on #201
@misiek303 it should work. please let me know if you still face that problem.

thanks

[2017-03-24 23:33] kodeine commented on #200
being worked on #208

[2017-03-27 15:50] stygiansabyss commented on #207
This was handled in pull #208

[2017-03-27 15:50] #207 closed

[2017-03-30 00:10] amandiobm opened #209 "[Question] Invalidate cache."
When I synchronize my user roles and permissions, the cache is not being invalidated. This is a bug?

[2017-03-31 09:02] t2thec opened #211 "Can't delete slug"
Hi ya,

Thanks for the great package! really nice to work with.

I've noticed in `\Kodeine\Acl\Models\Eloquent\Permission`that when `updating` the slug, it adds any new items, but won't allow deletion.

I presume this is correct behaviour and is in place to prevent people messing things up?

Personally, I would like the ability to delete the slug. However, this is pretty trivial in the DB.

Any th

[2017-04-04 15:28] moycs777 commented on #205
Update it please :D

[2017-04-06 20:27] mmbrich opened #212 "When a user gets a 401 message, they have no way of knowing what roles/perms they lack."
When a user is given a 401 error message, they have no way to know what roles/perms they are lacking without asking a developer to look at the code (if they don't know it off the top of their head).

I propose that the error message sent from abort() should have the 'can' and 'is' requirements for that route/page/etc.

I have a patch for this feature.  I'll submit a pull request shortly.

[2017-04-06 20:39] mmbrich commented on #212
--- HasPermission.php.orig	2017-04-06 15:38:52.000000000 -0500
+++ HasPermission.php	2017-04-06 15:37:51.000000000 -0500
@@ -49,17 +49,20 @@
             return $next($request);
         }

+        $msg = "You are not authorized to access this resource. ";
+        $msg .= "Required Roles: ".implode(' ',$this->getAction('is')). "Required Permissions: ".implode(' ',$this->getAction('can'));
+

[2017-04-08 17:22] kodeine commented on #205
@moycs777 its on master branch, please give it a try.

[2017-04-12 23:20] moycs777 commented on #205
Thanx :D

2017-04-08 13:22 GMT-04:00 Kodeine <notifications@github.com>:

--
         Moises A. Serrano P.

     Whatsapp: +584162819977

[2017-04-26 10:53] DamPe88 opened #214 "Assign Permission function cannot be found on Role N=Model"
When trying the module on Laravel 5.4 and when allocating permission to the selected Role, assignPermission is not found.following your wiki on this.

    $permUser  = Permission::find(1);
    $roleAdmin = Role::first();
    $roleAdmin->assignPermission($permUser);`

no errors, but couldn't find details on the database table.
What would be the error on that?.

Thanks
Dami

[2017-04-26 16:02] jonaths commented on #66
I have the same issue. This is my composer:

{
    "name": "laravel/laravel",
    "description": "The Laravel Framework.",
    "keywords": ["framework", "laravel"],
    "license": "MIT",
    "type": "project",
    "require": {
        "php": ">=5.6.4",
        "barryvdh/laravel-cors": "^0.9.2",
        "barryvdh/laravel-dompdf": "^0.8.0",
        "bitwasp/bitcoin": "v0.0.33.1",
        "dingo/api"

[2017-05-08 06:08] parallelaus commented on #88
We are also experiencing the Lumen issues. We can create a local AclServiceProvider class to solve the VERSION issue, but I expect we will get more issues? A Lumen version would be awesome!!

[2017-05-16 15:02] mkarnicki commented on #212
I appreciate your comment on this matter, but I don't agree with you. You do not want to expose application logic to the client. 401 INSUFFICIENT_PERMISSIONS is just right in my opinion.

[2017-05-17 07:19] mngzir commented on #205
When the update?

[2017-06-12 20:17] #201 closed

[2017-06-27 00:56] nelson6e65 commented on #125
I'm having this issue too. `syncRoles()` works, but `assignRole()` `doesn't`. 😞

[2017-06-27 01:13] nelson6e65 commented on #125
Well... I noticed I had to re-query the user to get the updated roles:

[code]

Outputs:
[code]

[2017-06-30 01:02] missionphp opened #217 "You are not authorized to access this resource."
this is my route
------------------------------------------------------
Route::group(['middleware' => ['web','auth']], function () {
    Route::group(['protect_alias' => 'farmer'], function () {

        Route::resource('farmer', 'FarmerController');

    });
    Route::group(['middleware'=>['acl'],'protect_alias' => 'office'], function () {

        Route::resource('office', 'OfficeController');

[2017-07-30 09:22] mngzir commented on #205
not release 5.4?

[2017-07-30 13:24] lloricode commented on #205
maybe try
[code]

[2017-08-03 14:30] efriandika commented on #197
I got same issue with @haruncpi

[2017-08-03 14:54] efriandika commented on #197
Example:
[code]

But the result in database is (slug column):
[code]

Expected Value in Slug Column:
[code]

[2017-08-17 19:28] manfield opened #220 "RoleUser and PermissionUser tables"
According to new Laravel 5.4 implementation of Eloquent methods, like hasMany or belongsToMany, that work different if compared to the 5.3:

https://github.com/laravel/framework/issues/17503

you should create role_user and permission_user tables taking care of the correct foreign key (in most cases user_id is ok, but it may be different according to specific implementations).

[2017-10-05 21:58] #69 closed

[2017-10-21 15:12] ChaosPower commented on #217
This package requires laravel 5.5+

[2017-10-30 03:47] moransk8 commented on #214
I have the same problem. I got an error "Method assignPermission does not exist." and I check on the Role class and there isn't a method with that name.

[2017-10-30 04:38] kodeine commented on #214
@DamPe88 @moransk8 i'll take a look. meanwhile if you found a fix, please post a PR. Thanks

[2017-10-30 05:13] moransk8 commented on #214
@kodeine The problem was that I was using the method get() instead of first() when instantiating the role and this get you back an array so I changed it to first() and it works great.
eg:
$roleAdmin = Role::where('name', '=', 'Admin')->get(); // here you can't call the method to assign permission
$roleAdmin = Role::where('name', '=', 'Admin')->first(); // I changed to first() and works great

[2017-11-21 11:45] anasibrahimgm commented on #127
Hi there,
Your Role Model should like like this:

..................................
................................
use Kodeine\Acl\Traits\HasPermission;

class Role extends Model
{
    use HasPermission;
    ...................................
    ................................

}

[2017-12-27 06:30] dehypnosis opened #221 "Is this ACL library? There seems to be a mistake in naming."
This library is awesome, but it's a RBAC library than a ACL library.
We cannot call RBAC as ACL. Because Role-based Access Control has no Access Control List for each objects. I was finding ACL library not RBAC. This repo's name makes misconception.

[2018-01-04 02:10] t0n1zz opened #222 "Integration with vue js"
hi i am reworking my project with vue js frontend and don't have any idea how to expose this acl into vue js.... and i read an example of exposing laravel permission from this [package](https://github.com/acacha/vue-laravel-authorization/blob/master/README.md), so maybe anyone can help me to implement this in package?

[2018-01-07 01:20] fiurino opened #223 "Acl check failure should return 403 instead 401"
Hello,
ACL validation replies with a 401 (unauthorized) instead of a 403 (forbidden).
Is there a specific reason for that?

Thanks in advance.

[2018-02-02 01:45] #209 closed

[2018-02-12 04:26] mybigman opened #225 "This cache store does not support tagging"
Hi,

Latest update breaks.

[code]
"Cache tags are not supported when using the file or database cache drivers"

I am using file.

Thanks.

[2018-02-12 05:59] kodeine commented on #225
#216
its fixed.

[2018-02-12 05:59] #225 closed

[2018-03-17 17:54] fontenele commented on #211
Same problem here.

[2018-03-17 18:05] fontenele commented on #211
To update permission slugs i had to save clean slug before save my new slugs, its have a SetMutator in slug attribute, so its always sync with original values stored on model.

Resolved with the code:
[code]

[2018-03-24 10:47] tarhe commented on #80
In Kernel.php, change:

`'acl' => Kodeine\Acl\Middleware\HasPermission::class,`

to

`'acl' => 'Kodeine\Acl\Middleware\HasPermission',`

Hope that helps

[2018-05-24 14:48] NSLS commented on #223
I have stumbled upon this one too and by looking at the code you can see that 401 is hardcoded into the ACL middleware.
However, you can easily replace it with your own middleware, thus I solved this problem in the following way:

1. Create your own middleware, e.g. HasPermission
2. Extend the middleware class from `Kodeine\Acl\Middleware\HasPermission`
3. Copy-paste the `handle` method from the o

[2018-06-07 15:06] lmatab commented on #86
Hello all,

I was having the same problem, I'm using  Laravel 5.5.4 and after testing everything I found I have been making some test and finally it is working properly, this is what I did:

I changed @role('admin') for:

`@if(Auth::check() && Auth::user()->isRole('admin'))
`
And refreshed the page, after that I changed it back to @role('admin') and it is now working nicely.

I guess it has someth

[2018-06-21 00:53] kodeine commented on #223
Extending the middleware is a good option for right now.

[2018-06-21 00:53] #223 closed

[2018-06-21 00:54] kodeine commented on #221
Will update the name in next major release.

[2018-06-21 00:54] #221 closed

[2018-06-21 00:54] #217 closed

[2018-06-21 00:55] #205 closed

[2018-06-21 07:48] programmermarvin opened #227 "isRole is not Working Laravel 5.6"
THIS IS THE CODE I AM RUNNING

$user = $request->user();
        if ($user->user_type == Constants::SCHOOL_USER){
            $role = Role::where('slug','school_admin')->get();
            if (count($role) > 0){
                $getRole = $role->first()->slug;
                dd($getRole,$user->getRoles(),$user->isRole($getRole));
            }
        }

THIS IS THE RESPONSE

![error](https://use

[2018-06-21 07:58] programmermarvin commented on #227
FUCK WHEN YOU UPDATE YOUR CODE YOU SHOULD ALSO UPDATE YOUR DOCUMENTATION TOO. IT IS hasRole not isRole

[2018-06-21 07:58] #227 closed

[2018-06-21 08:47] xuxubla-paymentwall opened #228 "Custom User model"
Is it possible to make something like config('acl.user') to define a custom User model?

[2018-07-14 21:54] nelson6e65 commented on #147
:ghost:

[2018-08-09 06:15] amandiobm commented on #177
@kodeine, even using the `protect_methods` I still have 401. any updates?

[2018-08-13 06:29] mahbub833 commented on #66
yytyty

[2018-08-28 03:33] xyrintech opened #229 "Function name must be a string"
Getting this error for routes like this -

$api->post('datatable/manage-user', ['can' => ['view.user']], 'App\Http\Controllers\ManageUserController@indexWithPagincation');

[2018-09-27 14:19] vchampanery opened #230 "how to add user based permission"
my
laravel : 5.4
php . 5.6

I want to add role based permission but for one role it should allow user based too. means for that particular role their has to be different permission for different  i means custom permission role for user.
is it possible ?

[2018-10-29 23:17] vanessasoutoc opened #231 "Error Undefined constant 'Kodeine\Acl\Middleware\HasPermission'"
In laravel 5.7.11 error:
PHP Fatal error:  Uncaught Error: Undefined constant 'Kodeine\Acl\Middleware\HasPermission'

Help?!

[2018-10-29 23:19] #231 closed

[2019-05-20 02:16] ahmed-numaan opened #232 "Method Illuminate\Database\Eloquent\Collection::lists does not exist."
I have Laravel 5.8 and getting this error below:

Method Illuminate\Database\Eloquent\Collection::lists does not exist.

On the following piece of code:

Route::group([
		'middleware' => ['acl'],
	    'is' => 'super-admin'
	], function () {
		Route::get('/plants','PlantsController@index');
		Route::get('/plants/{id}/edit','PlantsController@edit');
		Route::get('/plants/{id}','PlantsController@show

[2019-09-04 19:49] stygiansabyss opened #233 "Laravel 6.0"
Is there any chance of this working for laravel 6.0?  The `~5.0` will no longer work anymore.

[2019-09-10 06:34] rhofma commented on #233
Hope there will be a solution :(

[2019-09-12 00:52] kodeine commented on #233
can any one you submit a PR? i'm on a vacation these days so wont be able to quickly upgrade.

[2019-09-13 14:20] alec-joy commented on #233
That works for me, the new version would have to support PHP 7.2+ since that's the lowest version Laravel/Illuminate 6.0 support. I will get a PR up for that today and change the TravisCI file for that branch to test on 7.2 and 7.3 only

[2019-09-13 15:37] kodeine commented on #233
Thanks guys!

[2019-09-13 15:38] kodeine commented on #233
@alec-joy if you get time, can you please update the wiki/readme and remove any migration changes we did maybe readme is reflecting to old method.

[2019-09-13 16:04] alec-joy commented on #233
By migration changes do you just mean what I had to do to make the package 6.0 compatible? I didn't make changes to the actual migration files (though i realize it says I did, I'm working on a Windows machine at the moment and I forgot to check the line endings before committing so it says I modified almost everything)

[2019-09-13 18:52] kodeine commented on #233
aa okay, makes sense. Please change the wiki/readme as needed so others can know about the changes. Thank you!

[2019-09-28 01:09] #233 closed

[2019-10-08 17:52] firmino2611 opened #239 "Config prefix datatable"
Has a new prefix property for the table, but there is no key in the configuration file.
config('acl.db_prefix')

[2019-10-08 19:52] firmino2611 opened #241 "Code break"

[2019-10-08 19:53] firmino2611 commented on #241
Version 2 doesn't work

[2019-10-10 19:03] LordZardeck commented on #198
Over 2 years on this, any chance of this getting resolved? Seems like an easy enough fix.

[2019-10-10 19:23] LordZardeck commented on #198
Okay, so I see why this isn't an easy fix. Attempting to fix this myself, I see a couple issues:

1. Class names for migrations are the same
2. Can't execute migration for setting up user roles as the default users table created by Laravel uses big int primary key, which the migrations use
3. Supposing you just modify the primary key type, you'll then run into the error when it tries to change the

[2019-10-10 19:26] LordZardeck commented on #198
Apparently I'm not the first to encounter this: #145

[2019-10-10 20:18] LordZardeck opened #242 "Can't get package to work in Laravel 6"
Has anyone successfully got this package working in Laravel 6 on a clean Laravel project?

I've had to make a bunch of migration changes in order for the migrations to even run, then when I finally got them running, I started getting errors with `HasRole` trying to call the `starts_with` method, which was apparently changed in Laravel 6 to `Str::startsWith` (https://laravel.com/docs/6.x/helpers#me

[2019-10-10 21:25] fulopattila122 commented on #145
This might help: https://github.com/artkonekt/laravel-migration-compatibility

[2019-10-21 15:39] alec-joy commented on #242
Use this fork for now, I'm still finding things and this package isn't being updated frequently. I'll open pull requests back to this package as I find things but they may take awhile to get merged back in https://packagist.org/packages/phoenix-group-of-virginia/laravel-acl

[2019-10-21 15:43] kodeine commented on #242
@alec-joy if you have PR's ready please send those ill merge them asap, im traveling so fixing this at this time is difficult. Thank you for your submissions!

[2019-10-21 15:43] kodeine commented on #241
we're working on this will update you asap

[2019-10-21 15:55] alec-joy commented on #242
@kodeine  I will open a PR tonight from my personal github account, ajoy39. I need to add some more tests and try to refactor some of the old compatibility code a bit, that's where most of the problems are coming from. Both applications I tested 2.0 on were apps that had been updated to 6.0 from 5.x versions so I missed some of the changes that don't carry over to a clean install.

[2019-10-21 15:59] kodeine commented on #242
@alec-joy thank you very much for your support.

[2019-10-21 19:05] kodeine commented on #241
@firmino2611 Should be good to go!

[2019-10-21 19:05] kodeine commented on #239
@firmino2611 should be good to go!

[2019-12-06 17:23] chiricomarco opened #246 "Need fix foreign key table name"
In this file: /src/migrations/2015_02_07_172633_create_role_user_table.php - need to change the follow part of code:

before:
$table->foreign('user_id')
                ->references('id')
                **->on()**
                ->onDelete('cascade');

after:
$table->foreign('user_id')
                ->references('id')
                **->on($this->prefix . 'users')**
                ->onDelete

[2019-12-27 21:40] SnusnumrConceit commented on #246
@chiricomarco thnx man! You're saved my time!

[2020-01-12 02:46] developerdelphi commented on #246
Hey guys. I have too add in the file: /src/migrations/2015_02_17_152439_create_permission_user_table
I verify in database and don't relashions key in the tables.
...
$table->foreign('permission_id')
          ->references('id')
          ->on($this->prefix . 'permissions')
          ->onDelete('cascade');
      $table->foreign('user_id')
          ->references('id')
          ->on($this->prefix .

[2020-01-15 04:23] mustafat0k opened #249 "Library is doesn't migrate files"
I did try few times but every project given error. I think reason is bigInteger

   Illuminate\Database\QueryException  : SQLSTATE[HY000]: General error: 1215 Cannot add foreign key constraint (SQL: alter table `role_user` add constraint `role_user_user_id_foreign` foreign key (`user_id`) references `1` (`id`) on delete cascade)

  at C:\Users\casper\Desktop\acl\vendor\laravel\framework\src\Illumi

[2020-01-15 05:02] hacicavcav commented on #249
i figure out the issue but why i still seeing old repo when i include library in my project.        "kodeine/laravel-acl": "^2.0",
When i updated to composer, doesn't coming last branch

[2020-03-09 18:44] GiTsu commented on #246
problem still exists on fresh v6.0 installation. laravel-acl version = 2.0.3. I had to manually edit migration file in vendor dir

[2020-03-18 05:00] ranganathabrr opened #251 "Can I use this package in Laravel lumen?"
I installed this package and updated bootstrap/app.php file.

$app->register(Kodeine\Acl\AclServiceProvider::class);

I am getting error like,

Symfony\Component\Debug\Exception\FatalThrowableError: Class 'Blade' not found in
/vendor/kodeine/laravel-acl/src/Kodeine/Acl/AclServiceProvider.php:54

Could you please help me to resolve this issue.

[2020-04-02 23:31] erne85 opened #252 "version 2.0.4 not getting installed from composer"
The requested package kodeine/laravel-acl ^2.0.4 exists as kodeine/laravel-acl[1.0.0, 1.0.x-dev, 2.0.0, 2.0.1, 2.0.2, 2.0.3, dev-master, dev-revert-216-1.0, v0.1.0, v0.1.1, v0.1.2, v0.1.3] but these are rejected by your constraint.

[2020-04-03 15:03] kodeine commented on #252
@erne85 can you please submit PR

[2020-04-03 15:04] kodeine commented on #246
@GiTsu, @chiricomarco  can you please submit the PR?

[2020-04-03 15:27] erne85 commented on #252
@kodeine sorry, don't know what you mean, first time submitting issue

[2020-04-03 15:40] #252 closed

[2020-04-20 14:22] joaopaulopvillela opened #253 "Prefix na tabela Role User"
O arquivo de migração `/src/migrations/2015_02_07_172633_create_role_user_table.php` não esta com a configuração de prefix.

[2020-05-04 01:27] kodeine commented on #253
English please

[2020-06-03 16:50] amandiobm commented on #253
Hey said that is missing the prefix config on that file.

[2020-06-03 16:55] amandiobm commented on #253
And it seems to be missing here too `2015_11_30_232041_bigint_user_keys.php`

[2020-08-06 12:44] IaraCanan commented on #249
how can I solve this issue, I'm having the same problem?

[2020-08-13 15:35] mcandylab opened #256 "Works on Laravel 7.x?"
i want to use this package on Laravel 7.x, does it work on this version?

[2020-09-21 09:19] mcandylab commented on #256
Tested, work!

[2020-09-21 09:19] mcandylab commented on #256
Tested, work!

[2020-09-21 09:19] #256 closed

[2020-10-13 16:06] kodeine commented on #251
I will push an update to support lumen

[2020-10-19 08:54] Rafeethu opened #258 "cache tags not available in version 2.0"
I tried to use the cache feature and would like to clear the existing permissions when ever role is updated. but couldn't find anything related to this in docs.

I just dig into the code and found that cache tags were available in ver 1.0 but not in v 2.0. any plan to incorporate this feature to 2.0 branch?

I'm using laravel 6 and laravel-acl 2.0.

[2020-11-16 10:18] nabeeljavaid opened #259 "Laravel 8.x Support"
Please give support for Laravel 8.x in your package

[2020-11-24 22:41] chris-doehring commented on #259
I created a pull request for this: https://github.com/kodeine/laravel-acl/pull/260

[2020-11-25 08:37] chris-doehring commented on #259
With the [latest release](https://github.com/kodeine/laravel-acl/releases/tag/2.0.6) this package is Laravel 8 compatible.

[2021-03-05 10:45] apuatcfbd opened #262 "Different structure of data returned for JSON ($role->toJSON()) after cache expire"
**I'm talking about JSON output/print**
When cache is active, it return like
[code]

but after the cache time exceeds, 1st response returns whole result set like:
[code]

This is very bad to have different returns or data & type. This makes working with this hard.

[2021-03-08 09:19] apuatcfbd opened #263 "No way to invalidate cache"
By default this package has set cache time for 1 minute.  If I update permissions for a role, this will be effective in next cache interval. But there's should be an option to manually invalidate the cache.

[2021-03-09 12:26] apuatcfbd commented on #263
As there's no way to invalidate cache, I've created a trait to do so . Don't know if the keys I'm passing is absolutely correct or not. But it's working.
[code]

[2021-03-16 02:27] Tarhex commented on #225
I just encountered this issue with version `kodeine/laravel-acl: "^2.0"` on `Laravel ^8.12`.

I tried doing something like this:
`$user = User::find(auth()->user()->id);`
then
`$user->getRoles();` this is the line with the error

Please, how do I fix this?

[2021-03-16 03:03] kodeine commented on #225
Can you please paste error stack?

[2021-03-16 03:37] Tarhex commented on #225
`[2021-03-16 03:36:02] local.ERROR: This cache store does not support tagging. {"userId":1,"exception":"[object] (BadMethodCallException(code: 0): This cache store does not support tagging. at /home/vagrant/code/escuela/vendor/laravel/framework/src/Illuminate/Cache/Repository.php:483)
[stacktrace]
#0 /home/vagrant/code/escuela/vendor/stancl/tenancy/src/CacheManager.php(33): Illuminate\\Cache\\Repo

[2021-05-05 23:57] kodeine commented on #263
Can you please share a PR for this?

[2021-05-05 23:58] #259 closed

[2021-05-05 23:58] kodeine commented on #258
hello, if there's a missing feature, can you please submit PR and i can merge that.

[2021-05-05 23:59] #249 closed

[2022-02-10 12:55] MaizerGomes opened #265 "Laravel 9 support"
Can laravel 9 support be added?

[2022-02-19 17:54] kodeine commented on #265
would it be possible for you to submit a PR?

[2022-02-27 04:01] kodeine commented on #265
done!

[2022-02-27 04:01] #265 closed

[2022-04-06 10:38] Messhias commented on #120
This project seems to be abandoned, so I forked to my open-source saver organization and we're willing to continue the contribution of the project, we did that already before with Tymon's Design JWT package for laravel.

You can access the package here -> https://github.com/kodeine/laravel-acl/pull/266

[2022-04-06 10:54] Messhias commented on #168
https://github.com/PHP-Open-Source-Saver/laravel-acl/pull/1

[2022-04-06 10:55] #120 closed